<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/nonsideLayout}">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="/mh/css/chat/chat.css" />
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" class="container-chat">
		<!-- 왼쪽 사이드바 300px -->
		<div class="sidebar-container"> 
			<div class="user-profile">
				<img src="./v3.png" alt="User Profile">
				<h2>User ID</h2>
			</div>
			<div class="chat-list-container">
				<h3>채팅중인 목록</h3>
				<ul>
					<li onclick="enterChatRoom(1)"><img src="./v3.png"
						alt="User Profile"> 채팅방 1</li>
					<li onclick="enterChatRoom(2)"><img src="./user2.jpg"
						alt="User Profile"> 채팅방 2</li>
					<li onclick="enterChatRoom(3)"><img src="./user3.jpg"
						alt="User Profile"> 채팅방 3</li>
					<li onclick="enterChatRoom(4)"><img src="./user3.jpg"
						alt="User Profile"> 채팅방 4</li>
					<li onclick="enterChatRoom(5)"><img src="./user3.jpg"
						alt="User Profile"> 채팅방 5</li>

					<!-- 나머지 li 요소도 동일한 방식으로 이미지 추가 -->
				</ul>
			</div>
		</div>
		<!-- 가운데 메인 컨테이너 -->
		<div class="chat-room-container" id="chatRoom">
			<h1>채팅방을 선택하세요.</h1>

			<div class="messages-container">
				<!-- 메시지 컨테이너 -->
			</div>
			<div class="input-box-container">
				<input type="text" id="messageInput" placeholder="메시지를 입력하세요"
					onkeydown="handleKeyDown(event)">

				<button onclick="sendMessage()">전송</button>
			</div>
			<div class="attachment-button-container">
				<input type="file" id="file-input"> <label for="file-input"></label>
			</div>
		</div>
		<!-- 오른쪽 사이드바 -->
		<div class="seller-info-container">
			<h2>셀러 정보</h2>
			<p>셀러 이름: John Doe</p>
			<p>전화번호: 123-456-7890</p>
			<p>이메일: john.doe@example.com</p>
		</div>
	</div>
</body>
</html>