/* css파일 import */
@import "reset.css";

.minwoo_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 너비 설정 */
.w-fullview{
    width: 100vw;
}
.w1320{
    width: 1320px;
}
.w1000{
    width: 1000px;
}
.w1020{
    width: 1020px;
}

/* 드롭다운 스크롤 바 꾸미기*/
.my-dropdown-contents::-webkit-scrollbar{
    width: 5px
}
.my-dropdown-contents::-webkit-scrollbar-thumb{
    background-color: var(--light-purple);  /* rgb(141,158,255) */
}
.my-dropdown-contents::-webkit-scrollbar-track{
    background-color: rgba(141,158,255,0.2);
}

/* textarea스크롤바 꾸미기 */
textarea::-webkit-scrollbar{
    width: 5px
}
textarea::-webkit-scrollbar-thumb{
    background-color: var(--light-purple);  /* rgb(141,158,255) */
}
textarea::-webkit-scrollbar-track{
    background-color: rgba(141,158,255,0.2);
}


textarea::placeholder{
	color:var(--gray);
	font-size:16px;
}


input[type="date"]:hover{
    cursor: pointer;
}
input[type="date"]{
    background-color: var(--light-purple);
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::placeholder{
	color:var(--gray);
	font-size:16px;
}
input,textarea{
	background-color:rgba(1,1,1,0);
}
a{
	color: black;
	text-decoration: none;
}
/* 입력폼 경계선 + 배경 빨개짐 */
.alert-style{
    border: 1px solid rgba(255,0,0,0.5) !important; 
    background-color: rgba(255,0,0,0.1) !important;
}

/* //입력 잘못하면 경고 메시지 밑에 뜨는거 */
.alert-msg{
    color : red;
    font-size: 12px;
}
/* //사진에 hover했을때 삭제 효과 */
.delete-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,0,0,0.1);
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

/* ck에디터 스타일 */
