<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/mypageLayout}">
<head>
<meta charset="UTF-8">
<title>에셋 판매 관리</title>
<link rel="stylesheet" href="/mh/css/thymeleaf/style.css" />
<link rel="stylesheet" href="/mh/css/thymeleaf/buttons.css" />
<link rel="stylesheet" href="/mh/css/market_sm/asset/asset_saleslist.css" />
<link>
</head>
<body>
	<div layout:fragment="content" class="asset-body">
		<div class="asset-body-title">
			<span>판매 등록</span><br>
		</div>
		<ul class="asset-body-cardlist">
			<li class="asset-body-card">
				<div class="asset-body-img-frame">
					<img src="/mh/images/test01.jpeg">
				</div>
				<div class="asset-body-tag">
					<div class="asset-body-tag-row01">
						<span>#1211</span> <span>|</span> <span>메타버스 에셋</span><br />
					</div>
					<div class="asset-body-tag-row02">
						<span>메타버스 에셋 제작해드립니다. </span>
					</div>
					<div class="asset-body-tag-row03">
						<div>
							<span>예산</span> <span>500,000원</span>
						</div>
						<button type="button" class="asset-body-button button--xsmall">상세보기</button>
					</div>
				</div>
			</li>
			<li class="asset-body-card">
				<div class="asset-body-img-frame">
					<img src="/mh/images/test01.jpeg">
				</div>
				<div class="asset-body-tag">
					<div class="asset-body-tag-row01">
						<span>#1211</span> <span>|</span> <span>메타버스 에셋</span><br />
					</div>
					<div class="asset-body-tag-row02">
						<span>메타버스 에셋 제작해드립니다. </span>
					</div>
					<div class="asset-body-tag-row03">
						<div>
							<span>예산</span> <span>500,000원</span>
						</div>
						<button type="button" class="asset-body-button button--xsmall">상세보기</button>
					</div>
				</div>
			</li>
			<li class="asset-body-card">
				<div class="asset-body-img-frame">
					<img src="/mh/images/test01.jpeg">
				</div>
				<div class="asset-body-tag">
					<div class="asset-body-tag-row01">
						<span>#1211</span> <span>|</span> <span>메타버스 에셋</span><br />
					</div>
					<div class="asset-body-tag-row02">
						<span>메타버스 에셋 제작해드립니다. </span>
					</div>
					<div class="asset-body-tag-row03">
						<div>
							<span>예산</span> <span>500,000원</span>
						</div>
						<button type="button" class="asset-body-button button--xsmall">상세보기</button>
					</div>
				</div>
			</li>
		</ul>
		<div class="asset-body-registration">
			<button type="button"
				class="asset-body-registration-button button--small">에셋 등록</button>
		</div>
		<div class="asset-body-bottom-box">
			<span>지금 바로 에셋을 등록하고,</span> <span>메타버스 전문가로 활동해보세요!</span>
		</div>
	</div>
</body>
</html>