@charset "UTF-8";

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ul {
	padding: 0px;
	margin: 0px;
	border: 0px;
	vertical-align: baseline;
	list-style: none;
}

select {
	background-color: white;
	-webkit-appearance:none;
	padding-left: 15px;
}

/* -----------모달------------------------------------ */
/* 스타일 설정 */
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal-content {
	display : flex;
	justify-content:center;
	align-items:center;
	/* width: fit;
	height: 542px; */
	background-color: #C5CEFF;
	padding: 20px;
}

.review-box {
	width: 605px;
	height: fit-content;
	background-color: #FFF;
	padding: 20px;
	border-radius: 6px;
}

.review-header {
	font-weight: bold;
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.close-button {
	cursor: pointer;
}

.star-rating {
	margin-top: 10px;
	display: flex;
	align-items: center;
}

.star-rating .stars {
	display: inline-block;
}

.star-rating input[type="radio"] {
	display: none;
}

.star-rating label {
	font-size: 25px;
	color: var(--gray);
	cursor: pointer;
}

.star-rating label:before {
	content: "\2605";
	display: inline-block;
}

.star-rating input[type="radio"]:checked ~ label:before {
	color: #FFD700;
}

.review-button {
	margin-top: 10px;
	display: flex;
	flex-direction: column;
}

.input-textarea {
	width: 100%;
	height: 100px;
	margin-top: 10px;
	resize: none;
}
.review-description{
	display: flex;
    flex-direction: column;
    width: 100%;
    height:200px;
    background-color: rgb(141,114,225,0.1);
    border-radius:8px;
    padding: 10px;
    margin-bottom: 30px;
}

.review-buttons {
	margin-block: 20px;
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}
.file-button{
	display: flex;
	flex-direction: row;
	width:fit-content;
}



.file-attach-label{
	margin-right:10px;
	padding-inline : 20px;
	padding-block : 10px;
	border-radius:4px;
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	background-color: var(--light-purple);
	color:white;
	font-weight: 500;
}
.file-name{
	width : 300px;
	border:1px solid var(--light-purple);
	border-radius: 4px;
	padding-left: 10px;
}
.submit-review{
	font-size: 14px;
	padding: 10px 20px;
}

/* --------------------------------------------------------------- */

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.asset-body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.asset-body-title {
	width: 720px;
	display: flex;
	flex-direction: row;
	justify-content: start;
}

.asset-body-title span {
	font-size: 22px;
	font-weight: bold;
	margin-top: 40px;
	margin-bottom: 30px;
}

.asset-body-box-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    width: 720px;
    height: fit-content;
    background-color: rgba(141, 114, 225, 0.5);
    border-radius: 8px;
 }

.asset-body-box {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	box-sizing: border-box;
	width: 150px;
	height: 150px;
	padding-inline: 20px;
	background-color: #FFFFFF;
	border: 2px solid #8D72E1;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	transition: 0.5s;
}

.asset-body-box:hover {
	cursor: pointer;
	border: 2px solid var(--light-purple);
	transition: 0.5s;
}

.asset-body-box-text {
	display: flex;
	flex-direction: column;
	align-items: end;
}

.asset-body-box span {
	font-size: 14px;
}

.asset-body-box p {
	font-size: 20px;
	font-weight: bold;
}

.asset-body-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    width: 720px;
    margin-top: 30px;
    border: 1px solid var(--bright-purple);
    border-radius:  8px;
}

.asset-search-form {
	display: flex;
	flex-direction: column;
	width: 720px;
	height: fit-content;
}

.asset-search-form-row01 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 10px;
}

.search-box {
	border: 1px solid var(--bright-purple);
	border-radius: 6px;
	background: #FFFFFF;
	width: 130px;
	height: 50px;
	transition: 0.5s;
}

.search-box:hover {
	cursor: pointer;
	background-color: rgba(141,114,225,0.1);
	transition: 0.5s;
}

.asset-search-form-row01 select:nth-child(1) {
	background: url("/metahaus/images/caret-down-solid.svg") no-repeat 100px center;
	background-size: 12px;
}

.asset-search-form-row01 select:nth-child(2) {
	background: url("/metahaus/images/caret-down-solid.svg") no-repeat 120px center;
	background-size: 12px;
	width: 150px;
}

.asset-search-form-row01 select:nth-child(3) {
	background: url("/metahaus/images/caret-down-solid.svg") no-repeat 100px center;
	background-size: 12px;
}
  
.category04 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: fit-content;
	align-items: center;
}

.category04 div {
	font-weight: bold;
}

.category04 input {
	width: 200px;
	padding-left: 15px;
}

.asset-search-form-row02 {
	display: flex;
	flex-direction: row;
	justify-content: end;
	margin-bottom: 50px;
}

.asset-search-bar {
	width: 620px;
	height: 50px;
	padding-left: 20px;
}

.search-button {
	width: 80px;
	height: 40px;
	padding-inline: 5px;
}

.asset-body-form-empty {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	padding: 30px 0px;
	width: 720px;
	height: fit-content;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: #FFFFFF;
	border: 1px solid var(--bright-purple);
	border-radius: 8px;
}

.asset-body-form-empty span {
	margin-bottom: 20px;
}

.asset-body-buttom-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	width: 100%;
	height: 125px;
	background-color: var( --light-blue);
	border-radius: 8px;
}

/* asset cardlist */
.asset-body-cardlist {
	display: flex;
	flex-direction: column;
	list-style: none;
	width: 720px;
}

.asset-body-card {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: auto;
	height: fit-content;
	padding: 30px;
	border: 1px solid var( --bright-purple);
	border-radius: 8px;
	margin-bottom: 20px;
}

.asset-body-card:not(:last-child) {
	margin-bottom: 30px;
}

.asset-body-tag {
	display: flex;
	flex-direction: column;
	width: auto;
	box-sizing: border-box;
}

.asset-body-tag-row01 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 15px;
}

.asset-body-tag-row01 div {
	display: flex;
	flex-direction: row;
}

.asset-body-tag-row01 div span:nth-child(2) {
	margin-inline: 10px;
}

.asset-body-tag-row01 div span:nth-child(3) {
	margin-right: 10px;
}

.asset-body-tag-row02 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.asset-body-tag-img {
	width: fit-content;
	height: 140px;
	object-fit: cover;
	border-radius: 8px;
	overflow: hidden;
}

.asset-body-tag-img img {
	width: 230px;
	height: 100%;
	box-sizing: border-box;
}

.asset-body-tag-info {
	width: 400px;
	height: 140px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.asset-body-tag-info-row01 {
	height: 110px;
	margin-bottom: 10px;
	margin-right: 30px;
}

.asset-body-tag-info-row02 {
	margin-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.asset-body-tag-info-row03 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: end;
}

.asset-body-button {
	padding-left:15px;
	padding-right:20px;
	padding-block : 8px;
	font-size: 14px;
}

button:active {
	box-shadow: none;
}

.asset-body-review {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items : center;
	padding: 20px;
	margin-top: 20px;
	background-color: rgba(141,114,225,0.1);
	border-radius: 8px;
}

/* 리뷰 작성 버튼 기본값 (다운로드 가능) */
.write-review {
	width: 200px;
	height: 50px;
	color: white;
	font-weight: bold;
	border: none;
	outline: none;
	background-color: var(--bright-purple);
	border-radius: 8px;
	box-shadow: var(--shade-button);
}

.asset-body-download button:active {
	box-shadow: none;
}

/* 리뷰 작성 완료 */
.expired {
	background-color: var(--light-gray);
	color: var(--gray);
	box-shadow: none;
}

.asset-body-tip {
	width: 720px;
	height: fit-content;
	padding: 30px 40px;
	background-color: rgba(141,114,225,0.3);
	margin-top: 50px;
	margin-bottom: 50px;
	border-radius: 8px;
}

.asset-body-tip li {
	list-style: disc;
}

/* 뷰에서 생략 */
.deactivate {
	display: none;
}