<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="configFragment">
	<meta charset="UTF-8">
	<title>Main Layout</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/thymeleaf/style.css}">
	<link rel="stylesheet" th:href="@{/css/thymeleaf/buttons.css}">
	<link rel="stylesheet" th:href="@{/css/thymeleaf/header.css}">
	<link rel="stylesheet" th:href="@{/css/thymeleaf/footer.css}">
	<link rel="stylesheet" th:href="@{/css/thymeleaf/menu.css}">
	<link rel="stylesheet" th:href="@{/css/thymeleaf/dashboard_content.css}">
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>