<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="sidebar" th:fragment="sidebarFragment">
		<div class="menu_list">
			<div class="menu_title">Dashboard</div>
			<div class="menu_list_title">회원관리</div>
			<ul class="menu_ul">
				<li onclick="location.href='/mh/dashboard/management'">전체회원조회</li>
				<li>회원정보수정</li>
			</ul>
			<div class="menu_list_title">신고관리</div>
			<ul class="menu_ul">
				<li onclick="location.href='/mh/dashboard/report'">신고접수목록</li>
				<li>신고매뉴얼</li>
			</ul>
			<div class="menu_list_title">통계</div>
			<ul class="menu_ul">
				<li onclick="location.href='/mh/dashboard/statistics'">전체 대시보드</li>
				<li>회원 분포 조회</li>
				<li>회원 활동 조회</li>
			</ul>
		</div>
	</div>
</body>
</html>