<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/nonsideLayout}">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" href="/metahaus/css/user/portfolio_detail.css">
	<script src="https://kit.fontawesome.com/123626a3b2.js" crossorigin="anonymous"></script>
    <script>
      function next(el){
            let list = el.parentNode.querySelector(".banner-slider-list");

            let listSize = list.offsetWidth;
            let itemSize = list.firstElementChild.offsetWidth;
            let countOfView = parseInt(listSize/itemSize);



            let index = Number(list.getAttribute("index"));
            let itemCount = list.childElementCount;

            if(index+countOfView >= itemCount){
                return;
            }
            index++;
            list.setAttribute("index",index);
            
            
            list.style.left = -itemSize*index+"px";

        }

        function pre(el){
            let list = el.parentNode.querySelector(".banner-slider-list");

            let listSize = list.offsetWidth;
            let itemSize = list.firstElementChild.offsetWidth;
            let countOfView = parseInt(listSize/itemSize);



            let index = Number(list.getAttribute("index"));
            let itemCount = list.childElementCount;

            if(index<=0){
                list.style.left = 0;
                list.setAttribute("index",0);
                return;
            }
            index--;
            list.setAttribute("index",index);
            
            list.style.left = -itemSize*index+"px";
        }

    </script>
</head>
<body>
	<div layout:fragment="content">
		<!-- 카테고리, 제목, 수행기간, 참여 인원에 대한 정보 출력 -->
		<div class="content-cover">
			<div class="content-header">
				<div class="ch-content-cover">
					<div class="ch-profile-cover">
						<div class="ch-profile">
							<img src="/metahaus/images/test_images/test01.jpeg" alt="대표 사진">
						</div>
						<div class="ch-expert">유세희</div>
					</div>
				</div>
			</div>
			<div class="header">
				<div class="content-header-cover">
					<div class="header-info">
						<!-- 카테고리 -->
						<div class="content-header">
							<!-- ch = content-header -->
							<div class="ch-category">맵 > 로블록스</div>
						</div>
						
						<!-- 제목 -->
						<div class="content-header">
							<div class="ch-title">[포트폴리오 제목] META HAUS 제작</div>
						</div>
						<!-- 수행기간 -->
						<div class="content-header">
							<div class="ch-content-cover">
								<div class="ch-name">참여 기간</div>
								<div class="ch-content">2023-05-12 ~ 2023-07-11</div>
							</div>
						</div>
						
						<!-- 참여 인원 -->
						<div class="content-header">
							<div class="ch-content-cover">
								<div class="ch-name">참여 인원</div>
								<div class="ch-content">6명</div>
							</div>
						</div>
					</div>
					<div class="header-button">
						<div class="chat-button-cover">
							<div class="chat-button">전문가에게 문의남기기</div>
						</div>
					</div>
				</div>
				<div class="content-header-cover">
					<div class="main-img-cover">
						<img alt="메인 이미지" src="/metahaus/images/test_images/test04.jpeg">
					</div>
				</div>
			</div>
			<hr/>
		</div>
	
		<!-- 진행한 프로젝트에 대한 세부적인 정보(사진, 글) 출력 -->
		<div class="content-cover">
			<!-- 프로젝트 내용 -->
			<div class="subtitle">프로젝트 내용</div>
			<div class="main-content">
				<!-- 첨부한 사진 출력 -->
				<div class="main-content-img">
					<div class="banner-slider-wrap">
            			<div class="btn-shape prebtn" onclick='pre(this)'>◀</div>
            			<div class="btn-shape nextbtn" onclick='next(this)'>▶</div>
            			<div class="slider-outter">
			                <div index="0" class="banner-slider-list">
			                    <div class="banner-slider-item">
			                        <div class="item-img-warp" >
			                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
			                        </div>
			                    </div>
			                    <div class="banner-slider-item">
			                        <div class="item-img-warp">
			                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
				</div>
				<!-- 작성한 글 출력 -->
				<div class="main-content-text">
					<div class="main-ct-title">프로젝트 내용</div>
					<div class="main-ct-content">프로젝트를 변경해봅니다~~</div>
				</div>
			</div>
			
			
			<!-- 특징 -->
			<div class="subtitle">프로젝트 특징</div>
			<div class="main-content">
				<!-- 첨부한 사진 출력 -->
				<div class="main-content-img">
					<div class="banner-slider-wrap">
            			<div class="btn-shape prebtn" onclick='pre(this)'>◀</div>
            			<div class="btn-shape nextbtn" onclick='next(this)'>▶</div>
            			<div class="slider-outter">
			                <div index="0" class="banner-slider-list">
			                    <div class="banner-slider-item">
			                        <div class="item-img-warp" >
			                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
			                        </div>
			                    </div>
			                    <div class="banner-slider-item">
			                        <div class="item-img-warp">
			                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
				</div>
				<!-- 작성한 글 출력 -->
				<div class="main-content-text">
					<div class="main-ct-title">프로젝트 특징</div>
					<div class="main-ct-content">프로젝트를 변경해봅니다~~</div>
				</div>
			</div>
			<!-- 스타일 -->
			<div class="subtitle">프로젝트 스타일</div>
			<div class="main-content">
				<!-- 첨부한 사진 출력 -->
				<div class="main-content-img">
					<div class="banner-slider-wrap">
            			<div class="btn-shape prebtn" onclick='pre(this)'>◀</div>
            			<div class="btn-shape nextbtn" onclick='next(this)'>▶</div>
            			<div class="slider-outter">
			                <div index="0" class="banner-slider-list">
			                    <div class="banner-slider-item">
			                        <div class="item-img-warp" >
			                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
			                        </div>
			                    </div>
			                    <div class="banner-slider-item">
			                        <div class="item-img-warp">
			                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
			                        </div>
			                    </div>
			                </div>
			            </div>
			        </div>
				</div>
				<!-- 작성한 글 출력 -->
				<div class="main-content-text">
					<div class="main-ct-title">프로젝트 스타일</div>
					<div class="main-ct-content">프로젝트를 변경해봅니다~~</div>
				</div>
			</div>
		</div>
		<!-- 첨부파일 다운로드 -->
		<div class="content-cover">
			<div class="subtitle">첨부파일 <i class="fa-sharp fa-light fa-file-arrow-down"></i></div>
			<div class="download-cover">
				<a href="#">첨부파일1</a>
				<a href="#">첨부파일2</a>
			</div>
		</div>
		<!-- 작성자의 다른 포트폴리오 -->
		<div class="content-cover">
			<div class="subtitle">다른 포트폴리오도 만나보세요!</i></div>
			<div class="banner-slider-wrap another-portfolio">
          			<div class="btn-shape2 prebtn" onclick='pre(this)'>◀</div>
          			<div class="btn-shape2 nextbtn" onclick='next(this)'>▶</div>
          			<div class="slider-outter">
	                <div index="0" class="banner-slider-list">
	                    <div class="banner-slider-portfolio">
	                        <div class="item-img-warp" >
	                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
	                        </div>
	                        <hr>
							<div class="portfolio_info_text">
								포트폴리오 1에 대한 내용을 여기 적어요!
							</div>
	                    </div>
	                    <div class="banner-slider-portfolio">
	                        <div class="item-img-warp">
	                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
	                        </div>
	                        <hr>
							<div class="portfolio_info_text">
								포트폴리오 1에 대한 내용을 여기 적어요!
							</div>
	                    </div>
	                    <div class="banner-slider-portfolio">
	                        <div class="item-img-warp">
	                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
	                        </div>
	                        <hr>
							<div class="portfolio_info_text">
								포트폴리오 1에 대한 내용을 여기 적어요!
							</div>
	                    </div>
	                    <div class="banner-slider-portfolio">
	                        <div class="item-img-warp">
	                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
	                        </div>
	                        <hr>
							<div class="portfolio_info_text">
								포트폴리오 1에 대한 내용을 여기 적어요!
							</div>
	                    </div>
	                    <div class="banner-slider-portfolio">
	                        <div class="item-img-warp">
	                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
	                        </div>
	                        <hr>
							<div class="portfolio_info_text">
								포트폴리오 1에 대한 내용을 여기 적어요!
							</div>
	                    </div>
	                    <div class="banner-slider-portfolio">
	                        <div class="item-img-warp">
	                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
	                        </div>
	                        <hr>
							<div class="portfolio_info_text">
								포트폴리오 1에 대한 내용을 여기 적어요!
							</div>
	                    </div>
	                    <div class="banner-slider-portfolio">
	                        <div class="item-img-warp">
	                        	<img alt="이미지1" src="/metahaus/images/test_images/test01.jpeg">
	                        </div>
	                        <hr>
							<div class="portfolio_info_text">
								포트폴리오 1에 대한 내용을 여기 적어요!
							</div>
	                    </div>
	                    
	                </div>
	            </div>
	        </div>
		</div>
	</div>
</body>
</html>