@charset "UTF-8";

#photo_container{
	display: flex;
	flex-direction:column;
	margin-top: 1rem;
	margin-bottom: 2rem;
}

#main_photo_box{
	max-width: 640px;
	height: 480px;
	margin: 2rem auto;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.6);
}
#photo{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#gallery{
	text-align: center;
	margin-bottom: 0.5rem;
}

#gallery > li {
	display: inline-block;
	margin: 0;
}

#gallery > li > img{
	display: block;
	width: 100px;
	height: 80px;
	cursor: pointer;
}