<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/mypageLayout}">
<head>
<meta charset="UTF-8">
<title>에셋 - 판매 관리</title>
<link rel="stylesheet" href="/metahaus/css/common/style.css" />
<link rel="stylesheet" href="/metahaus/css/common/buttons.css" />
<link rel="stylesheet" href="/metahaus/css/order/asset_saleslist.css" />
<link>
<!-- 폰트어썸 -->
<script src="https://kit.fontawesome.com/123626a3b2.js"
    crossorigin="anonymous"></script>
</head>
<body>
	<div layout:fragment="content" class="asset-body">
		<div class="asset-body-title">
			<span>판매 관리</span><br>
		</div>
		<div class="sales-revenue">
			<div class="sales-revenue-row01">
				<input type="radio" value="monthly" name="revenueType">
				<span>월 별 수입</span>
				<input type="radio" value="total"name="revenueType" style="margin-left: 10px;">
				<span>총 수입</span>
			</div>
			<div class="sales-revenue-row02">
				<span class="sales-revenue-text">
					이번 달 총 수입
				</span>
				<span class="sales-revenue-price">
					900,000원
				</span>
			</div>
		</div>
		<div class="asset-search-form">
			<div class="asset-search-form-row01">
				<select class="search-box category01">
					<option value="all">전체 상품</option>
					<option value="map">맵</option>
					<option value="asset">에셋</option>
					<option value="proposan">기획서</option>
				</select> 
				
				<select class="search-box category02">
					<option value="all">전체 메타버스</option>
					<option value="roblox">로블록스</option>
					<option value="zepeto">제페토</option>
					<option value="minecraft">마인크랜프트</option>
					<option value="sendbox">더 샌드박스</option>
					<option value="gathertown">게더타운</option>
				</select> 
				
				<select class="search-box category03">
					<option value="orderno">주문 번호</option>
					<option value="productno">상품 번호</option>
					<option value="nickname">닉네임</option>
				</select>

				<div class="category04">
					<input type="date" class="search-box startdate">
					<div>~</div>
					<input type="date" class="search-box enddate">
				</div>
			</div>
			<div class="asset-search-form-row02">
				<input type="text" class="search-box asset-search-bar"
					placeholder="검색어를 입력하세요">
				<button type="button" onclick="" class="search-button button--small">조회</button>
			</div>
		</div>
		<ul class="asset-body-cardlist">
			<li class="asset-body-card">
				<div class="asset-body-img-frame">
					<img src="/metahaus/images/test01.jpeg" style="border-radius:8px;">
				</div>
				<div class="asset-body-tag">
					<div class="asset-body-tag-row01">
						<span>#1211</span> <span>|</span> <span>메타버스 에셋</span><br />
					</div>
					<div class="asset-body-tag-row02">
						<span>메타버스 에셋 제작해드립니다. </span>
					</div>
					<div class="asset-body-tag-row03">
						<div>
							<span>예산</span> <span>500,000원</span>
						</div>
					</div>
				</div>
			</li>
			<li class="asset-body-card">
				<div class="asset-body-img-frame">
					<img src="/metahaus/images/test01.jpeg" style="border-radius:8px;">
				</div>
				<div class="asset-body-tag">
					<div class="asset-body-tag-row01">
						<span>#1211</span> <span>|</span> <span>메타버스 에셋</span><br />
					</div>
					<div class="asset-body-tag-row02">
						<span>메타버스 에셋 제작해드립니다. </span>
					</div>
					<div class="asset-body-tag-row03">
						<div>
							<span>예산</span> <span>500,000원</span>
						</div>
					</div>
				</div>
			</li>
			<li class="asset-body-card">
				<div class="asset-body-img-frame">
					<img src="/metahaus/images/test01.jpeg" style="border-radius:8px;">
				</div>
				<div class="asset-body-tag">
					<div class="asset-body-tag-row01">
						<span>#1211</span> <span>|</span> <span>메타버스 에셋</span><br />
					</div>
					<div class="asset-body-tag-row02">
						<span>메타버스 에셋 제작해드립니다. </span>
					</div>
					<div class="asset-body-tag-row03">
						<div>
							<span>예산</span> <span>500,000원</span>
						</div>
					</div>
				</div>
			</li>
		</ul>
	</div>
</body>
</html>