<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/nonsideLayout}">
<head>
<meta charset="UTF-8">
<link href="/metahaus/css/order/purchase.css" rel="stylesheet" type="text/css">
<script src="https://kit.fontawesome.com/123626a3b2.js" crossorigin="anonymous"></script>
</head>
<body>
	<div layout:fragment="content" class="content">
		<p id="title">결제하기</p>
		<div id="main-view">
			<div id="purchase_summary">
				<div id="product_info">
					<div class="product_basic_info">
						<div id="product_img_box">
							<img th:src="@{/upload/asset_thumbnail_img/${asset.main_img}}" alt="photo" id="product_img">
						</div>
						<div>
							<p class="sub_title" id="Aid" th:value="${asset.asset_id}">상품명</p>
							<p class="data"  th:text="${asset.title}"></p>
							<p class="sub_title">판매자</p>
							<span class="data" th:text="${asset.userName.userName}"></span>
						</div>
					</div>
				</div>			    
			</div>

			<div id="price_summary">
				<div class="data distance">
					<span>상품금액</span><span class="price_data"><span th:text="${asset.price}"></span> 원</span>
				</div>
				<div class="data distance,">
					<span>수수료</span><span class="price_data">0원</span>
				</div>
				<div class="data distance">
					<span class="total_price">최종결제 금액</span><span class="price_data total_price">30,000원</span>
				</div>
				<hr/>
				<div id="Uid" hidden="" th:value="${userId}"></div>
				<div class="data distance">
					<span>보유 캐쉬</span><span class="price_data">100,000원</span>
				</div>
				<div class="data distance">
					<span>결제 후 캐쉬</span><span class="price_data">70,000원</span>
				</div>
				<div class="data distance">
					<span>*잔액이 부족합니다.</span><a class="price_data">충전하기</a>
				</div>
				<hr/>
				<p>*결제는 메타캐시만 가능합니다.</p>
				<div id="btn">
					<button class="button--large myBtn">구매하기</button>
				</div>
			</div>
		</div>

		<script src="/metahaus/js/order/purchase.js"></script>

	</div><!-- layout:fragment -->
</body>
</html>