<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/mypageLayout}">
<head>
<meta charset="UTF-8">
<title>에셋 - 판매 관리</title>
<link rel="stylesheet" href="/metahaus/css/common/style.css" />
<link rel="stylesheet" href="/metahaus/css/common/buttons.css" />
<link rel="stylesheet" href="/metahaus/css/order/asset_saleslist.css" />
<link>
<!-- 폰트어썸 -->
<script src="https://kit.fontawesome.com/123626a3b2.js"
    crossorigin="anonymous"></script>
</head>
<body>
	<div layout:fragment="content" class="asset-body">
		<div class="asset-body-title">
			<span>판매 관리</span><br>
		</div>
		<div class="sales-revenue">
			<div class="sales-revenue-row01">
				<input type="radio" value="monthly" name="revenueType">
				<span>월 별 수입</span>
				<input type="radio" value="total"name="revenueType" style="margin-left: 10px;">
				<span>총 수입</span>
			</div>
			<div class="sales-revenue-row02">
				<span class="sales-revenue-text">
					이번 달 총 수입
				</span>
				<span class="sales-revenue-price">
					0원
				</span>
			</div>
		</div>
		<form  class="asset-search-form" 
		th:action="@{/order/asset/saleslist/category}" method="get">
			<!-- 페이지 초기 번호 =0 전달 -->
			<input name="pageNo" value="0" type="hidden">
			<div class="asset-search-form-row01">
				<select name="category1" class="search-box category01">
					<option value="all">전체 플랫폼</option>
					<option value="로블록스">로블록스</option>
					<option value="제페토">제페토</option>
					<option value="더 샌드박스">더샌드박스</option>
					<option value="게더타운">게더타운</option>
					<option value="마인크래프트">마인크래프트</option>
					<option value="기타">기타</option>
				</select> 
				
				<select name="category2" class="search-box category02">
					<option value="all">전체 상품</option>
					<option value="의류">의류</option>
					<option value="악세사리">악세사리</option>
					<option value="무기">무기</option>
					<option value="기타">기타</option>	
				</select> 

				<div class="category04">
					<input required="required" name="category4" type="date"
						class="search-box startdate">
					<div style="margin-inline: 10px;">~</div>
					<input required="required" name="category5" type="date"
						class="search-box enddate">
				</div>
			</div>
			<div class="asset-search-form-row02">
				<!-- <input type="text" class="search-box asset-search-bar"
					placeholder="검색어를 입력하세요"> -->
				<button type="submit"  class="search-button button--small">조회</button>
			</div>
		</form>
		<ul class="asset-body-cardlist" th:each="order : ${orderList}">
			
			<!-- 판매완료 -->
			<li class="asset-body-card">
				<div class="asset-body-tag">
					<div class="asset-body-tag-row01">
						<span style="font-size: 16px; font-weight: bold;">판매 완료</span>
						<div>
							<span
								style="margin-right: 6px; margin-bottom: 4px; color: var(--gray); font-size: 12px; font-weight: 500;"
								th:text="${order.asset.category1}+' > ' + ${order.asset.category2}"></span>
							<span style="font-size: 12px; color: var(--gray);">|</span> <span
								style="font-size: 12px; color: var(--gray);">판매일자</span> <span
								style="font-size: 12px; color: var(--bright-purple);"
								th:text="${order.assetOrderDate}"></span> 
						</div>
					</div>
					<div class="asset-body-tag-row02">
						<div class="asset-body-tag-img">
							<img
								th:src="@{/upload/asset_thumbnail_img}+'/'+${order.asset.mainImg}" />
						</div>
						<div class="asset-body-tag-info">
							<div class="asset-body-tag-info-row01">

								<span style="font-size: 16px; color: var(--gray);"
									th:text="'#'+${order.orderId}"></span> <span
									th:text="${order.asset.title}"></span>
							</div>
							<div class="asset-body-tag-info-row02">
								<div style="font-size: 22px; font-weight: bold;"
									th:text="${order.asset.price}+'원'"></div>
							</div>
							<div class="asset-body-tag-info-row03">
								<div>
									<span>Buyer</span><span style="margin-left: 6px;"
										th:text="${order.buyerId2}"></span>
								</div>
								<button type="button"
									class="asset-body-button button--xsmall">문의하기</button>
							</div>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="asset-body-tip" style="line-height: 160%;">
			<p
				style="font-size: 20px; font-weight: bold; color: var(--bright-purple);">꼭
				확인해주세요!</p>
			<br />
			<ul>
				<li>주문 금액에 대한 세금계산서는 거래 주체인 전문가가 직접 발생하며, 세금계산서 발행 가능한 사업자 전문가의
					서비스 구매 시에만 신청하실 수 있습니다.</li>
				<li>수수료에 대한 세금계산서는 메타하우스에서 발행합니다.</li>
				<li>세금계산서는 구매 확정일(거래 완료일) 기준으로 발행됩니다.</li>
				<li>이벤트 쿠폰 사용 금액은 할인된 금액이기 때문에 세금계산서에 포함되지 않습니다.</li>
				<li>거래명세서는 결제가 완료되었음을 증명하는 용도로만 활용 가능하며, 세무상의 지출증빙 요력이 없습니다.</li>
				<li>현금영수증은 개인의 소득공제용으로만 사용 가능하며, 결제 당시 지출 증빙용으로 선택하셨더라도 매입세액공제를
					받으실 수 없습니다.</li>
			</ul>
			<br /> 자세한 내용은 <span
				style="font-weight: bold; color: var(--bright-purple);">[자주
				묻는 질문 - 구매 및 영수증] </span> 항목을 참고해주세요.
		</div>
		<ul class="pagination">
			<li><a th:href="@{/order/asset/saleslist(pageNo=${'0'})}">1</a></li>
			<li><a th:href="@{/order/asset/saleslist(pageNo=${'1'})}">2</a></li>
			<li><a th:href="@{/order/asset/saleslist(pageNo=${'2'})}">3</a></li>
			<li><a th:href="@{/order/asset/saleslist(pageNo=${'3'})}">4</a></li>
			<li><a th:href="@{/order/asset/saleslist(pageNo=${'4'})}">5</a></li>
		</ul>
	</div>
</body>
</html>