<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/nonsideLayout}">
<head>
<meta charset="UTF-8">
<title>결제하기</title>
<link href="/metahaus/css/order/purchase.css" rel="stylesheet" type="text/css">
<script src="https://kit.fontawesome.com/123626a3b2.js" crossorigin="anonymous"></script>
</head>
<body>
	<div layout:fragment="content" class="content">
		<p id="title">결제하기</p>
		<div id="main-view">
			<div id="purchase_summary">
				<div id="product_info">
					<div class="product_basic_info">
						<div id="product_img_box">
							<img alt="상품대표이미지" src="/mh/images/test_img2.png" id="product_img">
						</div>
						<div>
							<p class="sub_title">상품명</p>
							<p class="data">재페토 의류 제작</p>
							<p class="sub_title">판매자</p>
							<span class="data">SellerA</span>
							<span class="data">(연락처:&ensp;070-1234-1234)</span>
						</div>
					</div>
					<form>
						<div class="wrap">
							<p class="sub_title">기본항목</p>
							<div>
								<span class="data">패키지 선택&ensp;</span>
							    <select name="price_package">
							       	<option value="" selected>BASIC</option>
							       	<option value="">ECONOMY</option>
							       	<option value="">PREMIUM</option>
							    </select>
							    <div class="price_package_info_box data">
							    	<div class="price_package_info">제목<br/><br/>초저가 패키지!!</div>
							    	<div class="price_package_info" id="price_package_explain">설명<br/><br/>가장 싼 패키지 입니다~! 가장 싼 패키지 입니다~!</div>
							    	<div class="price_package_info">작업일<br/><br/>14일</div>
							    	<div class="price_package_info">가격<br/><br/>30000원</div>
							    </div>
							</div>
						</div>
						<div class="wrap">
							<p class="sub_title">옵션항목</p>
					        <div class="option data">
					        	<div class="">선택</div>
					        	<div class="option_item">제목</div>
					        	<div class="option_item">설명</div>
					        	<div class="option_item">가격</div>
					        	<div class="updown option_item">수량</div>
					        </div>
					        <div class="option data">
					        	<input class="option_chk" type='checkbox' name='add_option' value='#'/>
					        	<div class="option_item">빠른작업</div>
					        	<div class="option_item">1일 단축</div>
					        	<div class="option_item">10000원 추가</div>
					        	<div class="updown option_item">
					        		<button type ="button" class="down">-</button>
					        		<input type="text" placeholder="0" readonly="readonly" class="updown_display">
					        		<button type ="button" class="up">+</button>
					        	</div>
					        </div>
					        <div class="option data">
					        	<input class="option_chk" type='checkbox' name='add_option' value='#'/>
					        	<div class="option_item">추가수정</div>
					        	<div class="option_item">수정 3회 추가</div>
					        	<div class="option_item">20000원 추가</div>
					        	<div class="updown option_item">
					        		<button type ="button" class="down">-</button>
					        		<input type="text" placeholder="0" readonly="readonly" class="updown_display">
					        		<button type ="button" class="up">+</button>
					        	</div>
					        </div>
						</div>
				    </form>
				    <div class="wrap">
						<p class="sub_title">요청사항</p>
						<div class="data request_form">
							<textarea placeholder="의뢰내용을 간략히 작성해주세요"  maxlength="100" required="required" class="request"></textarea>
							<div class="request-counter">
								<span class="counter">0</span> <span>/</span> <span>100</span>
							</div>
						</div>
				    </div>
				</div>
				<div class="wrap" id="check_buyer_info">
					<p class="sub_title">구매자 정보 확인</p>
					<div class="data">
						<div class="buyer_info" id="buyer_name">
							<span>이름&nbsp;</span> <input type="text" required="required" class="buyer_info_inupt">
						</div>
						<div class="buyer_info" id="buyer_tell">
							<span>연락처</span> <input type="text" required="required" class="buyer_info_inupt autoHyphen" maxlength="13">
						</div>
					<p>&lowast;서비스 의뢰자의 정보와 동일해야합니다.</p>
					</div>
				</div>
			</div>

			<div id="price_summary">
				<div class="data distance">
					<span>상품금액</span><span class="price_data">30,000원</span>
				</div>
				<div class="data distance,">
					<span>추가금액</span><span class="price_data">0원</span>
				</div>
				<div class="data distance">
					<span class="total_price">최종결제 금액</span><span class="price_data total_price">30,000원</span>
				</div>
				<hr/>
				<div class="data distance">
					<span>보유 캐쉬</span><span class="price_data">100,000원</span>
				</div>
				<div class="data distance">
					<span>결제 후 캐쉬</span><span class="price_data">70,000원</span>
				</div>
				<hr/>
				<p>*결제는 메타캐시만 가능합니다.</p>
				<div id="btn">
					<button class="button--large myBtn">구매하기</button>
				</div>
			</div>
		</div>
	
		<script src="/metahaus/js/order/purchase.js"></script>
		
	</div><!-- layout:fragment -->
</body>
</html>