html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

ul {
	padding: 0px;
	margin: 0px;
	border: 0px;
	vertical-align: baseline;
	list-style: none;
}

select {
	background-color: white;
	-webkit-appearance:none;
	padding-left: 15px;
}


button {
	background-color: transparent;
}

/* 모달 영역 */
.modal-content{
    padding: 30px;
}
.modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
/* ////////////////////// */

.minwoo_body{
	align-items:start;
}


.asset-product-wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 40px;
    height: fit-content;
}

/* 제목 영역 */
.mypage-title{
    font-size: 24px;
    font-weight: bold;
    line-height: 160%;
    margin-bottom: 50px;
}

/* 검색 및 조회 영역 */
.asset-search-form {
	display: flex;
	flex-direction: column;
	width: 720px;
	height: fit-content;
}

.asset-search-form-row01 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 20px;
}

.search-box {
	border: 1px solid var(--bright-purple);
	border-radius: 6px;
	background: #FFFFFF;
	width: 130px;
	height: 50px;
	transition: 0.5s;
}

.search-box:hover {
	cursor: text;
	background-color: rgba(141,114,225,0.1);
	transition: 0.5s;
}

.asset-search-form-row01 select:nth-child(1) {
	background: url("/metahaus/images/caret-down-solid.svg") no-repeat 100px center;
	background-size: 12px;
}

.asset-search-form-row01 select:nth-child(2) {
	background: url("/metahaus/images/caret-down-solid.svg") no-repeat 120px center;
	background-size: 12px;
	width: 150px;
}

.asset-search-form-row01 select:nth-child(3) {
	background: url("/metahaus/images/caret-down-solid.svg") no-repeat 100px center;
	background-size: 12px;
}
  
.category04 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 280px;
	align-items: center;
}

.category04 div {
	font-weight: bold;
}

.category04 input {
	padding-left: 15px;
}

.asset-search-form-row02 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 60px;
}

.asset-search-bar {
	width: 620px;
	height: 50px;
	padding-left: 20px;
}

.search-button {
	width: 80px;
	height: 50px;
	padding-inline: 5px;
}

/* 상품 목록 리스트 */
.asset-product-list{
    width: 720px;
    height: fit-content;
}


.asset-product-card{
    display: flex;
    flex-direction: row;
    width: auto;
    height: 220px;
    padding-block: 30px;
    /* border-bottom: 1px solid var(--light-gray); */
}

.asset-product-card:first-child {
	 border-top: 1px solid var(--light-gray);
}

.asset-product-card:last-child {
	margin-bottom: 30px;
}

.asset-product-image{
    display: flex;
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    flex: 1;
    border-radius: 6px;
    overflow: hidden;
    margin-right: 20px;
}

.asset-product-image:hover{
	cursor: pointer;
}

.asset-product-image img{
    flex:1;
    width:240px;
    height:160px;
    object-fit: cover;
}

.asset-product-contents{
    display: flex;
    flex-direction: column;
    flex: 2;
    box-sizing: border-box;
    height: 100%;
}

.asset-product-contents-row01{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.asset-product-contents-row02{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100%;
}

.asset-product-option{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20px;
    cursor: pointer;
    position: relative;
    color: var(--gray);
    font-size: 14px;
}

.asset-product-option > ul{
    display: none;
    z-index: 999;
    position: absolute;
    top : 20px;
    right:10px; 
    background-color: white;
    width: fit-content;
    height: fit-content;
    padding-inline: 20px;
    padding-block: 15px;
    box-shadow: var(--shade-dropdown);
}
.asset-product-option ul > :not(:last-child){
    margin-bottom: 10px;
}

.asset-product-option ul > li{
    color: black;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
}

.asset-product-option ul > li:hover{
    font-weight: bold;
    color: black;
}
.asset-product-option ul > li > button{
    width: 100%;
    width: 90px;
}

.asset-product-title{
    font-size: 16px;
    font-weight: 500;
    height: fit-content;
}

.asset-product-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.asset-product-body-price span:nth-child(1){
    font-size: 16px;
    margin-right: 10px;
}
.asset-product-body-price span:nth-child(2){
    font-size: 20px;
    font-weight: bold;
}
.asset-product-body-price span:nth-child(3){
    font-size: 20px;
    font-weight: bold;
}


.closed {
    display: none;
}

.asset-product-add{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    width: 720px;
    height: 180px;
    padding: 30px;
    border-radius:8px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: rgb(141,114,225,0.1);
}

.asset-product-add:hover {
	background-color: rgb(141,114,225,0.3);
	cursor: pointer;
}

button:active {
	box-shadow: none;
}

