@charset "UTF-8";
nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-end;
	justify-content: space-between;
	align-content: stretch;
	margin: 5px;

}
/* combobox */
select {
	margin-top: 4rem;
	width: 180px;
	padding:8px;
	border:1px solid #999;
	font-family:'Nanumgothic';
	background:url(/metahaus/images/caret-down-solid.svg) no-repeat 95% 50%;
	background-size: 12px;
	border-radius:4px;
	appearance : none;
	flex: 0 0 16em;
}
select::-ms-expand {
  display: none;
}

/* search bar */
.search_bar {
	display: flex;
	align-items: flex-end;
	margin: 0;
	padding: 0;
	flex: 0 0 16em;
}

.search_content {
	border-width: 0px 0px 2px 0px;
	font-size: 14pt;
}

.search_content:focus {
	outline: none;
}

.search_btn {
	width: 2.5em;
	background-color: white;
	border: 0px;
	cursor: pointer;
}

.btn_image {
	width: 100%;
}

