@charset "UTF-8";

.creat_portfolio_title{
	font-size: 24px;
	font-weight: bolder;
	margin: 10px;
	margin-top: 40px;
	margin-bottom: 20px;
	color: #8D72E1;
	
}

.portfolio_category{
	height: 50px;
	display: flex;
	justify-content: center;
	margin: 10px;
}

.portfolio_first_category{
	border: 1px solid #8D72E1;
	border-radius: 6px;
	width: 48%;
	display: flex;
	line-height: 48px;
	padding: 0px 10px;
	margin-right: 2%;
}

.portfolio_second_category{
	border: 1px solid #8D72E1;
	border-radius: 6px;
	width: 48%;
	display: flex;
	line-height: 48px;
	padding: 0px 10px;
	margin-left: 2%;
}

.portfolio_category_name{
	padding: 0px 10px;
	color: #8D72E1;
	font-weight: bold;
	width: 30%;
}

.portfolio_category_list_cover{
	width: 70%;
}

.portfolio_category_list{
	padding: 0px 10px;
	border: white;
	width: 100%;
}

.portfolio_category_list option{
	padding: 20px;
}

.portfolio_title_area{
	height: 50px;
	display: flex;
	margin: 10px;
	border: 1px solid #8D72E1;
	border-radius: 6px;
	padding: 0px 10px;
}

.portfolio_title_name{
	padding: 0px 10px;
	color: #8D72E1;
	line-height: 48px;
	font-weight: bold;
	width: 15%;

}

.portfolio_title_cover{
	width:85%;
	line-height: 48px;
	padding: 0px 10px;
}

.portfolio_title_cover input{
	height: 40px;
	border: solid 1px white;
	width: 100%;
	padding: 0px 10px;
}

.portfolio_title_cover input:focus{
	outline: none;
}

.create_portfolio_date_cover{
	height: 50px;
	display: flex;
	margin: 10px;
	border: 1px solid #8D72E1;
	border-radius: 6px;
	padding: 0px 10px;
	line-height: 48px;
}

.create_portfolio_date_cover div{
	width: 25%;
	padding: 0px 10px;
}

.portfolio_date{
	color: #8D72E1;
	font-weight: bold;
}

.portfolio_date_calendar input{
	width: 100%;
	height: 80%;
	cursor: pointer;
	border: none;
}

.portfolio_num_people_cover{
	height: 50px;
	display: flex;
	margin: 10px;
	border: 1px solid #8D72E1;
	border-radius: 6px;
	padding: 0px 10px;
	line-height: 48px;
}

.portfolio_num_people_title{
	padding: 0px 10px;
	width: 15%;
	color: #8D72E1;
	font-weight: bold;
}

.creat_portfolio_subtitle{
	font-size: 14px;
	font-weight: bolder;
	margin-top: 20px;
	margin-left: 10px;
	color: #8D72E1;
}

.create-portfolio-main-img{
	padding: 20px;
	margin: 10px;
	background-color:#FAFAFC;
}

.portfolio_num_people{
	width:85%;
	line-height: 48px;
	padding: 0px 10px;
}

.portfolio_num_people input{
	height: 40px;
	border: solid 1px white;
	width: 100%;
	padding: 0px 10px;
}

.create_portfolio_input_img{
	display: flex;
}

.create_portfolio_input_img input{
	display: none;
}

.create_portfolio_img{
	width: 160px;
	height:100px;
	background-color: var(--light-gray);
	border: solid 1px #6C4AB6;
	border-radius: 6px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	box-shadow: 2px 2px 2px 2px #E6E6FA;
	color: #8D72E1;
	
}

.image-frame{
	position: relative;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 160px;
	height:100px;
	background-color: white;
	border: solid 1px #6C4AB6;
	border-radius: 6px;
	margin-right: 10px;
	margin-left: 10px;
	text-align: center;
	line-height: 100px;
	cursor: pointer;
	box-shadow: 2px 2px 2px 2px #E6E6FA;
	color: #8D72E1;
	overflow: hidden;
}

.image-frame:hover{
    cursor: pointer;
    background-color:var(--light-gray);
}


.image-frame div{
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: var(--gray);
    font-size: 12px;
}

.image-frame img{
	width: 100%;
	height:100%;
	
}

.create_portfolio_input_detail input {
	display: none;
}

.create_portfolio_input_detail_cover{
	background-color:#FAFAFC;
	padding: 20px;
	margin: 10px;
}

.create_portfolio_input_detail_img{
	display: flex;
	
}

.create_portfolio_input_content{
	height:80px;
	background-color:white;
}

.create_portfolio_input_text{
	padding: 10px;
	border: 1px solid #8D72E1;
	border-radius: 6px;
	padding: 20px;
	margin: 10px;
	background-color:white;
}

.create_portfolio_input_text_cover{
	display: flex;
	width: 100%;
	height: 100%;
}

.create_portfolio_input_text_name{
	font-size: 14px;
	width: 120px;
	font-weight: bold;
	color: #8D72E1;
}
.create_portfolio_text_area{
	width: 716px;
	height: 200px;
	border: none;
	resize: none;
	font-size: 14px;
}

.create_portfolio_text_area:focus{
	outline: none;
}

.create_portfolio_input{
	margin-left:10px;
	margin-bottom: 10px;
	font-size: 14px;
	color: #8D72E1;
}
.portfolio_content{
	margin-left: 10px;
}

.create_portfolio_submit{
	height: 100px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.button--small{
	padding: 12.8834px 20.7669px;
}

.check-counter{
	display: flex;
	justify-content: flex-end;
	color: gray;
}

.delete-cover{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,0,0,0.1);
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    border: none;
}

.full{
    display: none;
}

.max-length{
    color: red;
}