@charset "UTF-8";
*{
	box-sizing: border-box;
}

.signup_container {
		margin:auto;
		width:660px;
		position: relative;
		padding:40px;
		
	}
	.signup_logo{
		height:40px;
		margin-bottom:10px;
		text-align: center;
		font-size: 24px;
		color: #6C4AB6;
		font-weight: bolder;
		text-shadow: 1px 1px 1px #8D9EFF;
	}
	.signup_content{
		height:100%;
		border:solid 1px #6C4AB6;
		padding:70px;
		box-shadow: 1px 1px 1px 1px #8D9EFF;
		border-radius: 6px;
	}
	.signup_desc{
		margin-bottom: 20px;
	}
	
	.signup_desc p{
		font-size: 24px;
		font-weight: bold;
	}
	
	.signup_column_box{
		height:100%;
	}
	
	.signup_column_title{
		font-size: 16px;
		font-weight: bold;
		margin-top: 20px;
		margin-bottom: 5px;
	}
	
	.signup_write_column{
		width:438px;
		height:40px;
		padding-left: 10px;
		border: solid 1px #6C4AB6;
		border-radius: 6px;
	}	
	
	
	.signup_check_box{
		border:solid 1px #6C4AB6;
		margin-top :30px;
		margin-bottom:15px;
		padding:10px;
		border-radius: 6px;
	}
	
	.single_check label{
		font-size: 14px;
		font-weight: normal;
		
	}
	
	.signup_check_box_hr{
		margin-top: 4px;
		margin-bottom: 4px;
	}
	
	#signup_submit{
		width:438px;
		height:40px;
		border: solid 1px #6C4AB6;
		border-radius: 6px;
		font-size: 16px;
		font-weight: bolder;
		color: white;
		line-height: 40px;
		background-color: #6C4AB6;
	}
	
	.alert-style-chk{
		color: red;
	}
	
	input[type="date"]::-webkit-inner-spin-button,
	input[type="date"]::-webkit-calendar-picker-indicator {
    	display: none;
    	-webkit-appearance: none;
	}
	
	.checkbox_cover label{
		width: 40%;
		padding-left: 15px;
	}