<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
<!-- 
	좀 더 보기 좋은 MyBatis 쿼리 Log : log4jdbc
	<logger name="jdbc.sqlonly" level="OFF" />
	<logger name="jdbc.sqltiming" level="debug" />
	<logger name="jdbc.audit" level="OFF" />
	<logger name="jdbc.resultset" level="debug" />
	<logger name="jdbc.resultsettable" level="OFF" />
	<logger name="jdbc.connection" level="OFF" />
	 -->
</configuration>