<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/nonsideLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/metahaus/css/user/login.css">

</head>
	<body>
		<div layout:fragment="content" class="login_page">
			<div class="login_box">
				<div class="login_page_img">
					<video width="100%" height="100%" autoplay loop>
                       <source src="/metahaus/images/login_mv.mp4" type="video/mp4">
                    </video>
				</div>
				<div class="login_page_input_area">
					<div class="login_text">
						<p>로그인</p>
					</div>
					<div class="login_area">
						<form action="/metahaus/login" method="POST">
							<input type="text" placeholder="이메일을 입력해 주세요." class="login_info_input" name="userId">
							<input type="password" placeholder="비밀번호를 입력해 주세요." class="login_info_input" name="password">
							<button class="login_button">로그인</button>
							<div class="login_check_box_area">
								<div class="keep_login"><input type="checkbox"> 로그인 유지</div>
								<div class="find_id_pass"><a href="#">아이디/비밀번호 찾기</a></div>
							</div>
						</form>
					</div>
					<div class="sns_login_area">
						<div class="sns_login_text">
							SNS계정으로 간편하게 로그인하세요
						</div>
						<div class="login_sns_logo_area">
							<a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=nvU8irdTypPGRr1XQ35g&redirect_uri=http://localhost:8088/metahaus/signnaver&state=metahaus_naverlogin" class="login_sns_logo">
								<img alt="소셜 로고" src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/naver_logo.png" height="32" width="32">
							</a>
							<a href="https://kauth.kakao.com/oauth/authorize?client_id=ddd395a6468a936ba5e6bf9d7543c341&redirect_uri=http://localhost:8088/metahaus/signkakao&response_type=code" class="login_sns_logo">
								<img alt="소셜 로고" src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/kakao_logo.png" height="32" width="32">
							</a>
							<a href="https://accounts.google.com/o/oauth2/auth?client_id=243843722682-a2c7urdnevcbqksjm4ahf69qcnrfb32c.apps.googleusercontent.com&redirect_uri=http://localhost:8088/metahaus/signgoogle&response_type=code&scope=https://www.googleapis.com/auth/userinfo.email https://www.googleapis.com/auth/userinfo.profile" class="login_sns_logo">
								<img alt="소셜 로고" src="https://d2v80xjmx68n4w.cloudfront.net/assets/icon/google_logo.png" height="32" width="32">
							</a>
						</div>
					</div>
					<hr>
					<div class="signup_area">
						<div class="signup_text">
							<p>metahouse의 회원이 되시면,<br/>할인혜택을 드립니다.</p>
						</div>
						<div class="link_signup_page">	
							<a href="/metahaus/join">
								<div>
									<span>metahouse 회원가입하기</span>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>