<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/mypageLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/metahaus/css/market/page_bar.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/metahaus/css/user/profile.css">
<script type="text/javascript">
	function next(el){
	    let list = el.parentNode.querySelector(".banner-slider-list");
	
	    let listSize = list.offsetWidth;
	    let itemSize = list.firstElementChild.offsetWidth;
	    let countOfView = parseInt(listSize/itemSize);
	
	
	
	    let index = Number(list.getAttribute("index"));
	    let itemCount = list.childElementCount;
	
	    if(index+countOfView >= itemCount){
	        return;
	    }
	    index++;
	    list.setAttribute("index",index);
	    
	    
	    list.style.left = -itemSize*index+"px";
	
	}
	
	function pre(el){
	    let list = el.parentNode.querySelector(".banner-slider-list");
	
	    let listSize = list.offsetWidth;
	    let itemSize = list.firstElementChild.offsetWidth;
	    let countOfView = parseInt(listSize/itemSize);
	
	
	
	    let index = Number(list.getAttribute("index"));
	    let itemCount = list.childElementCount;
	
	    if(index<=0){
	        list.style.left = 0;
	        list.setAttribute("index",0);
	        return;
	    }
	    index--;
	    list.setAttribute("index",index);
	    
	    list.style.left = -itemSize*index+"px";
	}

</script>
</head>

<body>
<div layout:fragment="content" class="profile_page_css">
	<div class="profile_page_title">
		내 정보
	</div>
	<div class="profile_area">
		<div class="profile_img_area">
			<div class="profile_img">
				<div class="profile_img_view">
					<img th:if="${session.loginUser.thumbnailStoreFilename != null}" 
						 th:src="|/metahaus/upload/userThumbnail/${session.loginUser.thumbnailStoreFilename}|">
					
					<img th:unless="${session.loginUser.thumbnailStoreFilename != null}" 
						 src="/metahaus/images/test_img.jpg">
				</div>
				<div class="profile_user_name">
					[[${session.loginUser.userName}]]
				</div>
			</div>
		</div>
		<div class="profile_info">
			<div class="profile_info_intro">
				[[${session.loginUser.selfIntroduction}]]
			</div>
			<div class="profile_info_etc">	
				<div class="profile_info_etc_title">email</div><div class="profile_info_etc_content">[[${session.loginUser.email}]]</div>
			</div>
			<div class="profile_info_etc">
				<div class="profile_info_etc_title">phone</div><div class="profile_info_etc_content">[[${session.loginUser.phoneNumber}]]</div>
			</div>
		</div>
	</div>
	
	<div class="profile_page_title">
		포트폴리오
	</div>
	<div class="profile_view_area">
		<div class="info_card_view">
			<div class="banner-slider-wrap">
       			<div th:if="${#arrays.isEmpty(portfolioList) != true}" class="btn-shape prebtn" onclick='pre(this)'>◀</div>
       			<div th:if="${#arrays.isEmpty(portfolioList) != true}" class="btn-shape nextbtn" onclick='next(this)'>▶</div>
       			<div class="slider-outter">
					<div index="0" class="banner-slider-list">
						<div class="banner-slider-item" th:each="portfolio:${portfolioList}">
							<a th:href="@{/mypage/portfolio(portfolioId=${portfolio.portfolio_id})}">
								<div class="portfolio_info_card">
									<div class="portfolio_info_img">
										<img th:src="|/metahaus/upload/portfolio/mainImg/${portfolio.main_img_store_filename}|" alt="대표 사진">
									</div>
									<hr>
									<div class="portfolio_content_preview">
										<div class="portfolio_info_text">
											[[${portfolio.portfolio_title}]]
										</div>
										<div class="portfolio_info_etc">
											<div>
												카테고리: [[${portfolio.category1}]] > [[${portfolio.category2}]] <br/>
												기간: [[${portfolio.portfolio_pj_start_day}]]~[[${portfolio.portfolio_pj_end_day}]] <br/>
												참여인원: [[${portfolio.nop}]]
											</div>
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="button_cover">
			<div class="create_portfolio_button" onclick="location.href='/metahaus/mypage/create_portfolio'">
				포트폴리오 작성하기
			</div>
		</div>
	</div>
	
	<!-- <div class="profile_page_title">
		리뷰
	</div>
	<div class="profile_view_area">
		<div class="review_box">
			<div class="reviewer_cover">
				<div class="reviewer_thumbnail_cover">
					<div class="reviewer_thumbnail">
						<img alt="" src="/metahaus/images/test_img.jpg">
					</div>
					<div class="reviewer_name">
						유세희
					</div>
				</div>
				<div class="reviewer_star_rating">
					<div class="star-ratings">
						<div class="star-ratings-fill space-x-2 text-lg"
					    :style="{ width: ratingToPercent + '%' }">
							<span>★</span><span>★</span><span>★</span><span>★</span>
						</div>
						<div class="star-ratings-base space-x-2 text-lg">
							<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
						</div>
					</div>
				</div>
			</div>
			<div class="purchased_item_name">
				맵 제작해드립니다.
			</div>
			<div class="review_content_cover">
				<div class="review_img_cover">
					<div class="review_img">
						<img alt="리뷰사진1" src="/metahaus/images/test_img.jpg">
					</div>
					<div class="review_img">
						<img alt="리뷰사진1" src="/metahaus/images/test_img.jpg">
					</div>	
					<div class="review_img">
						<img alt="리뷰사진1" src="/metahaus/images/test_img.jpg">
					</div>			
				</div>
				<div class="review_content">
					<div class="review_content_name">리뷰</div>
					<div class="review_content_text">리뷰의 내용이 출력됩니다.</div>
				</div>
			</div>
		</div>
		<div class="review_box">
			<div class="reviewer_cover">
				<div class="reviewer_thumbnail_cover">
					<div class="reviewer_thumbnail">
						<img alt="" src="/metahaus/images/test_img.jpg">
					</div>
					<div class="reviewer_name">
						유세희
					</div>
				</div>
				<div class="reviewer_star_rating">
					<div class="star-ratings">
						<div class="star-ratings-fill space-x-2 text-lg"
					    :style="{ width: ratingToPercent + '%' }">
							<span>★</span><span>★</span><span>★</span><span>★</span>
						</div>
						<div class="star-ratings-base space-x-2 text-lg">
							<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
						</div>
					</div>
				</div>
			</div>
			<div class="purchased_item_name">
				에셋 제작해드립니다.
			</div>
			<div class="review_content_cover">
				<div class="review_img_cover">
					<div class="review_img">
						<img alt="리뷰사진1" src="/metahaus/images/test_img.jpg">
					</div>
					<div class="review_img">
						<img alt="리뷰사진1" src="/metahaus/images/test_img.jpg">
					</div>	
					<div class="review_img">
						<img alt="리뷰사진1" src="/metahaus/images/test_img.jpg">
					</div>			
				</div>
				<div class="review_content">
					<div class="review_content_name">리뷰</div>
					<div class="review_content_text">리뷰의 내용이 출력됩니다.</div>
				</div>
			</div>
		</div>
	</div>
	<div class="page_wrap">
		<div class="page_nation">
			<a class="arrow pprev" href="#">&lang;&lang;</a>
			<a class="arrow prev" href="#">&lang;</a>
			<a href="#" class="active">1</a>
			<a href="#">2</a>
			<a href="#">3</a>
			<a href="#">4</a>
			<a href="#">5</a> 
			<a class="arrow next" href="#">&rang;</a>
			<a class="arrow nnext" href="#">&rang;&rang;</a>
		</div>
	</div> -->
</div>
</body>
</html>