<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/nonsideLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/metahaus/css/market/page_bar.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="/metahaus/css/user/profile_other.css">
<script type="text/javascript">
	function next(el){
	    let list = el.parentNode.querySelector(".banner-slider-list");
	
	    let listSize = list.offsetWidth;
	    let itemSize = list.firstElementChild.offsetWidth;
	    let countOfView = parseInt(listSize/itemSize);
	
	
	
	    let index = Number(list.getAttribute("index"));
	    let itemCount = list.childElementCount;
	
	    if(index+countOfView >= itemCount){
	        return;
	    }
	    index++;
	    list.setAttribute("index",index);
	    
	    
	    list.style.left = -itemSize*index+"px";
	
	}
	
	function pre(el){
	    let list = el.parentNode.querySelector(".banner-slider-list");
	
	    let listSize = list.offsetWidth;
	    let itemSize = list.firstElementChild.offsetWidth;
	    let countOfView = parseInt(listSize/itemSize);
	
	
	
	    let index = Number(list.getAttribute("index"));
	    let itemCount = list.childElementCount;
	
	    if(index<=0){
	        list.style.left = 0;
	        list.setAttribute("index",0);
	        return;
	    }
	    index--;
	    list.setAttribute("index",index);
	    
	    list.style.left = -itemSize*index+"px";
	}

</script>
</head>
<body>
<div layout:fragment="content" class="profile_page_css">
	<div class="profile_page_title">
		판매자 정보
	</div>
	<div class="profile_area">
		<div class="profile_img_area">
			<div class="profile_img">
				<div class="profile_img_view">
					<img th:if="${otherProfileInfo.userInfo.thumbnailStoreFilename != null}" 
						 th:src="|/metahaus/upload/userThumbnail/${otherProfileInfo.userInfo.thumbnailStoreFilename}|">
					
					<img th:unless="${otherProfileInfo.userInfo.thumbnailStoreFilename != null}" 
						 src="/metahaus/images/test_img.jpg">
				</div>
				<div class="profile_user_name">
					[[${otherProfileInfo.userInfo.userName}]]
				</div>
			</div>
		</div>
		<div class="profile_info">
			<div class="profile_info_intro">
				[[${otherProfileInfo.userInfo.selfIntroduction}]]
			</div>
			<div class="profile_info_etc_area">
				<div class="profile_info_etc_cover">
					<div class="profile_info_etc">	
						<div class="profile_info_etc_title">email</div><div class="profile_info_etc_content">[[${otherProfileInfo.userInfo.email}]]</div>
					</div>
					<div class="profile_info_etc">
						<div class="profile_info_etc_title">phone</div><div class="profile_info_etc_content">[[${otherProfileInfo.userInfo.phoneNumber}]]</div>
					</div>
				</div>
				<div class="profile_chat_button_cover">
					<div class="profile_chat_button">1대1 채팅하기</div>
				</div>
			</div>
		</div>
	</div>

	
	<div class="profile_page_title">
		포트폴리오
	</div>
	<div class="profile_view_area">
		<div th:if="${portfolioList != null}">
			<div class="info_card_view">
				<div class="banner-slider-wrap">
	       			<div th:if="${#arrays.length(portfolioList) > 3}" class="btn-shape prebtn" onclick='pre(this)'>◀</div>
	       			<div th:if="${#arrays.length(portfolioList) > 3}" class="btn-shape nextbtn" onclick='next(this)'>▶</div>
	       			<div class="slider-outter">
						<div index="0" class="banner-slider-list">
							<div class="banner-slider-item" th:each="portfolio:${portfolioList}">
								<a th:href="@{/user/portfolio(userId=${otherProfileInfo.userInfo.userId}, portfolioId=${portfolio.portfolio_id})}">
									<div class="portfolio_info_card">
										<div class="portfolio_info_img">
											<img th:src="|/metahaus/upload/portfolio/mainImg/${portfolio.main_img_store_filename}|" alt="대표 사진">
										</div>
										<hr>
										<div class="portfolio_content_preview">
											<div class="portfolio_info_text">
												[[${portfolio.portfolio_title}]]
											</div>
											<div class="portfolio_info_etc">
												<div>
													카테고리: [[${portfolio.category1}]] > [[${portfolio.category2}]] <br/>
													기간: [[${portfolio.portfolio_pj_start_day}]]~[[${portfolio.portfolio_pj_end_day}]] <br/>
													참여인원: [[${portfolio.nop}]]
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:if="${portfolioList == null}">
		</div>
	</div>
	
	<div class="profile_page_title">
		판매상품 (에셋)
	</div>
	<div class="profile_view_area">
		<div th:if="${otherProfileInfo.assetInfo != null}">
			<div class="banner-slider-wrap">
				<div th:if="${#arrays.length(otherProfileInfo.assetInfo) > 4}" class="btn-shape prebtn" onclick='pre(this)'>◀</div>
				<div th:if="${#arrays.length(otherProfileInfo.assetInfo) > 4}" class="btn-shape nextbtn" onclick='next(this)'>▶</div>
				<div class="slider-outter">
					<div index="0" class="banner-slider-list">
						<div th:each="asset:${otherProfileInfo.assetInfo}" class="banner-slider-item2">
							<a th:href="@{/asset/detail(assetNum=${asset.asset_id})}">
								<div class="item-warp">
									<div class="item-img-warp">
										<img width=100% height=100%
											th:src="@{/upload/asset_thumbnail_img/}+${asset.main_img}"></img>
									</div>
									<div class="item-desc-warp">
										<div th:text="${asset.title}" class="myfont-2"></div>
										<div th:text="${#numbers.formatInteger(asset.price, 1, 'COMMA') + '원'}" class="myfont-1"></div>
										<div class="myfont-3">
											<span th:text="${'★ '+asset.average_reviews}">★ 4.8 </span><br/>
											| [[${asset.review_count}]]개의 평가
										</div>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div th:unless="${otherProfileInfo.assetInfo != null}">
		</div>
	</div>
	
	<div class="profile_page_title">
		판매상품 (프로젝트)
	</div>
	<div class="profile_view_area">
		<div class="banner-slider-wrap">
			<div th:if="${#arrays.length(otherProfileInfo.projectInfo) > 4}" class="btn-shape prebtn" onclick='pre(this)'>◀</div>
			<div th:if="${#arrays.length(otherProfileInfo.projectInfo) > 4}" class="btn-shape nextbtn" onclick='next(this)'>▶</div>
			<div class="slider-outter">
				<div index="0" class="banner-slider-list">
					<div th:each="project:${otherProfileInfo.projectInfo}" class="banner-slider-item2">
						<div class="item-warp">
							<div class="item-img-warp">
								<img width=100% height=100%
									th:src="@{/upload/project_thumbnail_img/}+${project.project_thumbnail_img}"></img>
							</div>
							<div class="item-desc-warp">
								<div th:text="${project.title}" class="myfont-2"></div>
								<div th:text="${#numbers.formatInteger(project.price, 1, 'COMMA') + '원'}" class="myfont-1"></div>
								<div class="myfont-3">
									<span th:text="${'★ '+project.average_reviews}"></span><br/>
									| [[${project.review_count}]]개의 평가
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>