<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/mypageLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="/metahaus/css/user/update_password.css">
<link rel="stylesheet" href="/metahaus/css/common/minwoo_style.css">
<script type="text/javascript">
	$(document).ready(function() {
		let before_password = "[[${session.loginUser.password}]]";
		let isValid = false;
		
		$("#submit").on("click", function(){
			if(before_password === $("#before_password").val()){
				if(before_password != $("#new_password").val()){
					if($("#new_password_check").val() === $("#new_password").val()){
						isValid = true;
					}
				}
			}
			
			if(isValid){
				alert("비밀번호 변경이 완료되었습니다.");
				alert("로그인 페이지로 돌아갑니다.");
			}else{
				alert("비밀번호를 다시 한번 확인해주세요.");
			}
			return isValid;
		});
		
		$("#before_password").on("change", function(){
			$('.alert-msg1').remove();
			if(before_password != $("#before_password").val()){
				alertMsg = $("<div>현재 비밀번호가 정확하지 않습니다.</div>").attr("class", "alert-msg1");
				$(this).parent().append(alertMsg);
				$(this).addClass('alert-style');
			}else{
				$(this).removeClass('alert-style');
			}
		});
		
		$("#new_password").on("change", function(){
			$('.alert-msg2').remove();
			if(before_password == $("#new_password").val()){
				alertMsg = $("<div>현재 비밀번호와 동일한 비밀번호는 사용할 수 없습니다.</div>").attr("class", "alert-msg2");
				$(this).parent().append(alertMsg);
				$(this).addClass('alert-style');
				
			}else if($("#new_password").val().trim() === ''){
				alertMsg = $("<div>새 비밀번호를 입력해주세요.</div>").attr("class", "alert-msg2");
				$(this).parent().append(alertMsg);
				$(this).addClass('alert-style');
			}else{
				$(this).removeClass('alert-style');
			}
		});
		
		
		$("#new_password_check").on("change", function(){
			$('.alert-msg3').remove();
			if($("#new_password_check").val() != $("#new_password").val()){
				alertMsg = $("<div>새 비밀번호가 일치하지 않습니다.</div>").attr("class", "alert-msg3");
				$(this).parent().append(alertMsg);
				$(this).addClass('alert-style');
				$("#new_password").addClass('alert-style');
			}else{
				$(this).removeClass('alert-style');
				$("#new_password").removeClass('alert-style');
			}
		});
	});
</script>

</head>
	<body>
		<div layout:fragment="content" class="profile_setting">
			<div class="profile_setting_title">
				비밀번호 변경
			</div>
			<form action="/metahaus/mypage/update_password" method="POST" enctype="multipart/form-data">
				<div class="profile_detail_change">
					<div class="agree_check_box_title">
						현재 비밀번호를 입력하세요.
					</div>
					<div class="profile_detail_change_write">
						<div class="profile_detail_change_write_title">현재 비밀번호</div> 
						<div class="profile_detail_change_write_text">
							<input type="password" placeholder="현재 비밀번호를 작성해주세요." id="before_password">
						</div>
					</div>
					
					<div class="agree_check_box_title2">
						새 비밀번호를 입력하세요.
					</div>
					<div class="profile_detail_change_write">
						<div class="profile_detail_change_write_title">새 비밀번호</div> 
						<div class="profile_detail_change_write_text">
							<input type="password" placeholder="새 비밀번호를 작성해주세요." name="new_password" id="new_password">
						</div>
					</div>
					<div class="profile_detail_change_write">
						<div class="profile_detail_change_write_title">비밀번호 확인</div> 
						<div class="profile_detail_change_write_text">
							<input type="password" placeholder="새 비밀번호를 한번 더 작성해주세요." id="new_password_check">
						</div>
					</div>
				</div>
				<div class="profile_setting_button">
					<div class="button--small"><input type="submit" value="비밀번호 변경" id="submit"></div>
					<a href="/metahaus/mypage/setting"><div class="button--small">취소하기</div></a>
				</div>
			</form>
		</div>
	</body>
</html>