<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/nonsideLayout}">
<head>
<meta charset="UTF-8">
<!-- 민우's style css [무조건 맨위에 와야함]-->
<link rel="stylesheet" href="/metahaus/css/common/minwoo_style.css">

<!-- 페이지 전용 css -->
<link rel="stylesheet" href="/metahaus/css/chat/chat.css">

<!-- 폰트어썸 -->
<script src="https://kit.fontawesome.com/123626a3b2.js"
	crossorigin="anonymous"></script>

<!-- 내 js코드 -->
<script type="text/javascript" src="/metahaus/js/chat/chat.js"></script>

<!-- 테스트 js 코드 -->
<script type="text/javascript">

</script>

<title>Metahaus Chatrooms</title>
</head>
<body>
	<div layout:fragment="content" class="chat-container">
		<div class="chat-left-sidebar">
			<div class="chat-search">
				<input class="chat-search-bar" type="text" maxlength="30"
					placeholder="키워드를 입력하세요" value="" name=""
					onfocus="this.placeholder = ''"
					onblur="this.placeholder = '키워드를 입력하세요'" />
				<button class="chat-search-button" type="button">
					<i class="fa-regular fa-magnifying-glass fa-xl"
						style="color: #aaaaaa;"></i>
				</button>
			</div>
			<div class="chatroom-list-container">
				<ul class="chatroom-list">
					<li th:each="chatroom:${chatrooms}" th:if="${chatrooms != null}"
						th:id="'chatroom'+${chatroom.chatroom_id}" class="chatroom-card">
						<div class="chatroom-card__profile-image">
							<img
								th:src="'/metahaus/upload/userThumbnail/'+ ${profiles[chatroomStat.index].thumbnail_store_filename}" />
						</div>
						<div class="chatroom-card__info">
							<div th:class="'chatroom-card__info-row01'">
								<input type="hidden" th:id="loginUser" th:value="${loginUser.userId}"/>
								<span class="username" th:text="${chatroom.user_2_name}"></span>
								<span class="last-date" th:text="${chatroom.last_chat_time}"></span>
							</div>
							<div class="chatroom-card__info-row02">
								<span class="last-chat" th:text="${chatroom.last_chat}"></span>
							</div>
						</div>
					</li>

				</ul>
			</div>

		</div>
		<div class="chat-main" style="display: none;">
			<div class="chat-header">
				<h1></h1>
			</div>
			<div class="chat-body">
				<div class="chat-body__chat-section"></div>
				<div class="chat-body__profile-section">
					<!-- <img class="chat_body_profile-img"
						src="/metahaus/images/test_images/test01.jpeg"> -->
					<div class="chat_body_profile-info"></div>
				</div>

			</div>
			<div class="chat-footer">
				<input class="chat-footer-row01" placeholder="메시지를 입력해주세요" value=""
					name="" onfocus="this.placeholder = ''"
					onblur="this.placeholder = '메시지를 입력해주세요'" />
				<div class="chat-footer-row02">
					<div class="chat-functional-buttons">
						<label for="file_attach" class="functional-button functional-button--attachment">
							<i class="fa-regular fa-paperclip fa-xl" style="color: #aaaaaa;"></i>
							<span>파일 첨부</span>
						</label>
						<input type="file" id="file_attach"/>
						
						<button class="functional-button functional-button--delievery">
							<i class="fa-regular fa-truck fa-xl" style="color: #aaaaaa;"></i>
							<span>작업물 전송</span>
						</button>
						<button class="functional-button functional-button--report">
							<i class="fa-regular fa-light-emergency fa-xl"
								style="color: #aaaaaa;"></i> <span>신고 하기</span>
						</button>
					</div>
					<button class="send-button button--xsmall">전송</button>
				</div>

			</div>
		</div>

	</div>

</body>
</html>