.footer {
  padding: 20px;
  background-color: #f5f5f5;
  font-family: 'Noto Sans KR', sans-serif;
}

.footer-section {
  text-align: center;
}

.footer-section h5 {
  font-size: 18px;
  margin-bottom: 15px;
  color: #6C4AB6;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
  transition: opacity 0.3s ease;
}

.footer-section ul li a {
  color: black;
  text-decoration: none;
}

.footer-section ul li:hover {
  background-color: #6C4AB6;
  color: white;
  opacity: 0.7;
}

.footer-section ul li:hover a {
  color: white;
}

.footer-section button {
  background-color: #6C4AB6;
  border: none;
  color: white;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
}