/* content 요소 설정 */
.content {
	display: block;
	margin-left: 25px;
	margin-top: 30px;
	/* width: 950px; */
	width: 1100px;
	min-height: 750px;
}

.content h1 {
	font-size: 26px;
	color: var(--bright-purple);
	font-weight: bold;
	margin-bottom: 20px;
}

.content th {
	color: var(--bright-purple);
}

.content td {
	color: #344767;
}

/* row|col 설정 */
.body-container .row {
	display: flex;
	justify-content: space-between;
}

/* .col {
	width: 100%;
} */

.col-left {
	margin-right: 10px;
}

.col-right {
	margin-left: 10px;
}

/* card 클래스 관련 CSS (시작) */
.card {
	/* width: 100%; */
	width: 1000px;
	margin: 20px;
	border: 1px solid var(--medium-purple);
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 2px 2px 5px var(--light-purple);
}

.card-main{
	width: 1100px;
}

.card-sub{
	margin: 0px;
	width: 550px;
}

.card-img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.card-body {
	padding: 20px;
}

.card-title {
	font-size: 20px;
	color: var(--bright-purple);
	font-weight: bold;
	margin-bottom: 10px;
}

.card-text {
	font-size: 14px;
	color: #555;
}
/* card 클래스 관련 CSS (끝) */

/* 
   input type:text
*/
#search_input {
	width: 500px;
	height: 40px;
	margin-top: 10px;
	/* margin-bottom: 10px; */
}

/* 
   search button
*/
#search_btn {
	cursor: pointer;
}

/*
   search combo box 
*/
.search_cb {
	width: 100px;
	height: 40px;
}

/*------------- form 하위 span 요소 간 margin 설정 시작 --------------*/


form span {
	margin-right: 10px;
}

.member-table {
	margin-top: 40px;
	margin-bottom: 40px;
	
    width: 100%;
    max-width: 100%;
}

/*============= form 하위 span 요소 간 margin 설정 끝 ==============*/

/*------------- 페이징 시작 --------------*/

.paging-wrap{
    margin: 15px auto;
    width: 90%;
    padding: 15px 20px;
    display:flex;
    justify-content: center;
}

#paging-btn-list {
	display: flex;
}

#paging-btn-list .page-btn {
	color: black;
	font-size: 18px;
	padding: 0 10px;
}

#paging-btn-list .disabled {
	color: #656565;
}

#paging-btn-list .current-page-btn a {
	color: #116aff;
}

/*============= 페이징 끝 ==============*/



/*------------- 회원 목록 테이블 CSS 시작 --------------*/

th.memberlist{
	text-align: center;
}

td.memberlist{
	text-overflow: ellipsis;
	overflow: hidden;
 	white-space: nowrap;
	text-align: center;
	
}

tr.memberlist{
	background-color: inherit;
	cursor: pointer;
}

tr.memberlist:hover{
	background-color: var(--light-blue);;
}

.memberlist-id{
	width: 130px;
}
.memberlist-email{
	width: 100px;
}
.memberlist-name{
	width: 100px;
}
.memberlist-tel{
	width: 125px;
}
.memberlist-gen{
	width: 50px;
}
.memberlist-birth{
	width: 120px;
}
.memberlist-signdate{
	width: 180px;
}
.memberlist-grade{
	width: 50px;
}
.memberlist-point{
	width: 100px;
}

/*============= 회원 목록 테이블 CSS 끝 ==============*/