/* row 설정 (overriding) */
 .row {
	display: flex;
    justify-content: center;
}

/* card 클래스 설정 (overriding) */
.card {
	width: 450px;
}

.managementcard {
	width: 100%;
	margin: 20px;
	border: 1px solid var(--medium-purple);
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 2px 2px 5px var(--light-purple);
}

