<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/mypageLayout}">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 민우's style css [무조건 맨위에 와야함]-->
<link rel="stylesheet" href="/metahaus/css/common/minwoo_style.css">

<!-- 부트스트랩 css -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- 페이지 전용 css -->
<link rel="stylesheet"
	href="/metahaus/css/asset/asset_product_list.css">

<!-- 폰트어썸 -->
<script src="https://kit.fontawesome.com/123626a3b2.js"
	crossorigin="anonymous"></script>
<!-- 제이쿼리 js -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- 내 js코드 -->
<script src="/metahaus/js/asset/asset_product_list.js"></script>
<title>에셋 - 상품 관리</title>
</head>

<body>
	<!-- 내가 설정한 body -->
	<main layout:fragment="content" class="minwoo_body">
		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title"
							style="font-weight: bold; font-size: 24px;">구인 등록 삭제</h4>
					</div>
					<div class="modal-body" style="font-weight: 600; font-size: 16px;">
						<p>
							지금 삭제를 하신다면 추후에 구인 서비스 사용시 패널티를 받을 수 있습니다. <br> <br>그래도
							삭제 하시겠습니까?
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="button--xsmall" data-dismiss="modal">네
							삭제하겠습니다</button>
						<!-- <button>네, 삭제 하겠습니다</button> 빨간 글씨 버전-->
					</div>
				</div>

			</div>
		</div>
		<div class="asset-product-wrapper">
			<h1 class="mypage-title">내 상품 목록</h1>
			<div class="asset-search-form">
				<div class="asset-search-form-row01">
					<select class="search-box category01">
						<option value="all">전체 상품</option>
						<option value="map">맵</option>
						<option value="asset">에셋</option>
						<option value="proposan">기획서</option>
					</select> <select class="search-box category02">
						<option value="all">전체 메타버스</option>
						<option value="roblox">로블록스</option>
						<option value="zepeto">제페토</option>
						<option value="minecraft">마인크랜프트</option>
						<option value="sendbox">더 샌드박스</option>
						<option value="gathertown">게더타운</option>
					</select> <select class="search-box category03">
						<option value="productno">상품 번호</option>
						<option value="nickname">가격</option>
					</select>

					<div class="category04">
						<input type="date" class="search-box startdate">
						<div>~</div>
						<input type="date" class="search-box enddate">
					</div>
				</div>
				<div class="asset-search-form-row02">
					<input type="text" class="search-box asset-search-bar"
						placeholder="검색어를 입력하세요">
					<button type="button" onclick=""
						class="search-button button--small">조회</button>
				</div>
			</div>
			<ul class="asset-product-list">
				<li onclick="" class="asset-product-card">
					<div class="asset-product-image">
						<img src="/metahaus/images/test_images/test05.jpeg" alt="thumbnail">
					</div>
					<div class="asset-product-contents">
						<div class="asset-product-contents-row01">
							<div class="asset-product-info">
								<span>#1211</span> <span>|</span> <span>메타버스 맵</span>
							</div>
							<div class="asset-product-option">
								<i class="fa-regular fa-ellipsis-vertical fa-xl"
									style="color: #000000;"></i>
								<ul class="asset-product-option-dropdown closed">
									<li><button>수정 하기</button></li>
									<li><button type="button" data-toggle="modal"
											data-target="#myModal">삭제 하기</button></li>

								</ul>
							</div>
						</div>
						<div class="asset-product-contents-row02">
							<div class="asset-product-title">메타버스 맵 제작을 원합니다.</div>
							<div class="asset-product-body">
								<div class="asset-product-body-price">
									<span>금액</span> <span>500,000</span> <span>원</span>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li onclick="" class="asset-product-card">
					<div class="asset-product-image">
						<img src="/metahaus/images/test_images/test05.jpeg" alt="thumbnail">
					</div>
					<div class="asset-product-contents">
						<div class="asset-product-contents-row01">
							<div class="asset-product-info">
								<span>#1211</span> <span>|</span> <span>메타버스 맵</span>
							</div>
							<div class="asset-product-option">
								<i class="fa-regular fa-ellipsis-vertical fa-xl"
									style="color: #000000;"></i>
								<ul class="asset-product-option-dropdown closed">
									<li><button>수정 하기</button></li>
									<li><button type="button" data-toggle="modal"
											data-target="#myModal">삭제 하기</button></li>

								</ul>
							</div>
						</div>
						<div class="asset-product-contents-row02">
							<div class="asset-product-title">메타버스 맵 제작을 원합니다.</div>
							<div class="asset-product-body">
								<div class="asset-product-body-price">
									<span>금액</span> <span>500,000</span> <span>원</span>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li onclick="" class="asset-product-card">
					<div class="asset-product-image">
						<img src="/metahaus/images/test_images/test05.jpeg" alt="thumbnail">
					</div>
					<div class="asset-product-contents">
						<div class="asset-product-contents-row01">
							<div class="asset-product-info">
								<span>#1211</span> <span>|</span> <span>메타버스 맵</span>
							</div>
							<div class="asset-product-option">
								<i class="fa-regular fa-ellipsis-vertical fa-xl"
									style="color: #000000;"></i>
								<ul class="asset-product-option-dropdown closed">
									<li><button>수정 하기</button></li>
									<li><button type="button" data-toggle="modal"
											data-target="#myModal">삭제 하기</button></li>

								</ul>
							</div>
						</div>
						<div class="asset-product-contents-row02">
							<div class="asset-product-title">메타버스 맵 제작을 원합니다.</div>
							<div class="asset-product-body">
								<div class="asset-product-body-price">
									<span>금액</span> <span>500,000</span> <span>원</span>
								</div>
							</div>
						</div>
					</div>
				</li>
				<li onclick="" class="asset-product-card">
					<div class="asset-product-image">
						<img src="/metahaus/images/test_images/test05.jpeg" alt="thumbnail">
					</div>
					<div class="asset-product-contents">
						<div class="asset-product-contents-row01">
							<div class="asset-product-info">
								<span>#1211</span> <span>|</span> <span>메타버스 맵</span>
							</div>
							<div class="asset-product-option">
								<i class="fa-regular fa-ellipsis-vertical fa-xl"
									style="color: #000000;"></i>
								<ul class="asset-product-option-dropdown closed">
									<li><button>수정 하기</button></li>
									<li><button type="button" data-toggle="modal"
											data-target="#myModal">삭제 하기</button></li>

								</ul>
							</div>
						</div>
						<div class="asset-product-contents-row02">
							<div class="asset-product-title">메타버스 맵 제작을 원합니다.</div>
							<div class="asset-product-body">
								<div class="asset-product-body-price">
									<span>금액</span> <span>500,000</span> <span>원</span>
								</div>
							</div>
						</div>
					</div>
				</li>

			</ul>
			<div class="asset-product-add">
				<div class="asset-product-add-text">
					<button>
						<i class="fa-light fa-circle-plus fa-2xl"
							style="color: #ffffff; font-size: 70px;"></i>
					</button>
				</div>
			</div>
		</div>
	</main>

</body>

</html>