<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/nonsideLayout}">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- 민우's style css [무조건 맨위에 와야함]-->
<link rel="stylesheet" href="/metahaus/css/common/minwoo_style.css">
<!-- 부트스트랩 css -->
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->

<!-- 페이지 전용 css -->
<link rel="stylesheet" href="/metahaus/css/asset/asset_assetform02.css">

<!-- 폰트어썸 -->
<script src="https://kit.fontawesome.com/123626a3b2.js"
	crossorigin="anonymous"></script>
<!-- 제이쿼리 js -->
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- 내 js코드 -->
<script type="text/javascript"
	src="/metahaus/js/asset/asset_assetform02.js"></script>
<title>에셋 - 판매등록02</title>
</head>

<body>
	<!-- 내가 설정한 body -->
	<main layout:fragment="content" class="minwoo_body">
		<div class="minwoo_container">
			<!-- 취소 Modal -->
			<div id="cancel" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal">&times;</button>
							<h4 class="modal-title"
								style="font-weight: bold; font-size: 24px;">상품 등록 취소</h4>
						</div>
						<div class="modal-body" style="font-weight: 500; font-size: 16px;">
							<p>
								지금 취소하시면 현재까지 작성하신 모든 내용이 초기화 됩니다.<br /> <br />그래도 취소 하시겠습니까?
							</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="button--xsmall" data-dismiss="modal">취소하기</button>

						</div>
					</div>

				</div>
			</div>
			<!-- form -->
			<div class="form">
				<div class="form-wrapper">
					<!-- 진행 상태 바 -->
					<div class="progress-bar">
						<div class="progress-bar-wrapper">
							<!-- 1.서비스 설정 -->
							<div style="padding-left: 50px;" class="progress-bar-item">
								<i class="fa-sharp fa-circle-1 fa-2xl"></i> <span
									class="progress-bar-text">상품 등록</span>
							</div>
							<!-- 첫번째 화살표 -->
							<!-- <i class="fa-solid fa-chevron-right fa-xl"
                        style="color: var(--gray)"></i> -->
							<!-- 2. 가격설정 -->
							<div style="padding-right: 50px;"
								class="progress-bar-item current">
								<i class="fa-sharp fa-reguar fa-circle-2 fa-2xl"></i> <span
									class="progress-bar-text">상품 미리보가</span>
							</div>

						</div>
					</div>

					<!-- 제목 입력-->
					<div class="form-item texttype">
						<div class="miwnoo_label">제목</div>
						<div class="form-item-column01">
							<div class="form-item-description">
								<span th:text="${session.assetForm.title}"></span>
							</div>
						</div>
					</div>
					<!-- 카테고리 선택 -->
					<div class="form-item selecttype">
						<div class="miwnoo_label">카테고리</div>
						<div class="form-item-column01">
							<div class="form-item-description">
								<span th:text="${session.assetForm.category1}"></span><span
									style="margin-inline: 10px;">></span><span
									th:text="${session.assetForm.category2_as}"></span>
							</div>
						</div>

					</div>
					<!-- 서비스 설명 입력 -->
					<div class="form-item texttype">
						<div class="miwnoo_label">상품 설명</div>
						<div class="form-item-column01">
							<div class="form-item-description">
								<div th:utext="${session.assetForm.description}"></div>
							</div>
						</div>
					</div>
					<!-- 가격 설정 -->
					<div class="form-item texttype">
						<div class="miwnoo_label">상품 가격</div>
						<div class="form-item-column01">
							<div class="form-item-description colored-box">
								<span style="font-size: 26px;"
									th:text="${session.assetForm.price}"></span><span>원</span>
							</div>
						</div>
					</div>
					<!-- 대표 사진 첨부 -->
					<div class="form-item filetype">
						<!-- **
                        empty : 아직 아무 사진도 등록 안한 경우
                        full : max까지 전부 등록 경우-->
						<div class="form-item-column01">
							<div class="form-item-file">
								<!-- 미리보기 이미지-->
								<div class="miwnoo_label">대표 사진</div>
								<div class="image-frame">
									<img id="thumbnail-img" src="" alt="대표 사진">

								</div>
							</div>
						</div>

					</div>
					<!-- 상세 사진 첨부 -->
					<div class="form-item filetype">
						<div class="form-item-column01">
							<div class="form-item-file">
								<div class="miwnoo_label">상세 사진</div>
								<div class="form-item-images-wrapper"></div>
							</div>
						</div>
					</div>
					<!-- 첨부 파일-->
					<div class="form-item filetype">
						<div class="miwnoo_label">첨부 파일</div>
						<div class="form-item-column01">
							<div class="form-item-title"></div>
							<div id="attach_file" class="form-item-file"></div>
						</div>
					</div>
					<!-- 버튼 파트 -->
					<div class="form-buttons last">
						<!-- 
                            first : 첫째장
                            last : 마지막장 -->
						<button type="button"
							onclick="location.href='/mh/asset/asset-form-01'" value="prev"
							class="form-buttons-prev button--small">이전</button>
						<div>
							<button type="button" data-toggle='modal' data-target='#cancel'
								value="cancel" class="form-buttons-cancel">취소</button>
							<button type="button"
								class="form-buttons-submit button--small">등록</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

</body>

</html>