<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/salesLayout}">
<head>
<meta charset="UTF-8">
<title>Asset/Main</title>
<link href="/metahaus/css/asset/market_product_grid.css" rel="stylesheet" type="text/css" />
<link href="/metahaus/css/asset/market_nav.css" rel="stylesheet" type="text/css" />
<link href="/metahaus/css/asset/market_page_bar.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div layout:fragment="content">
	<!-- Main view -->
	<div class="view">
		<nav>
			<!-- category combo -->
			<div class="selectBox">
				<p>ASSET MARKET &rang; 의류</p>
				<select name="" class="select">
					<option disabled selected>채널을 선택하세요</option>
					<option value="게더타운">게더타운</option>
					<option value="더 샌드박스">더 샌드박스</option>
					<option value="로블로스">로블로스</option>
					<option value="마인크래프트">마인크래프트</option>
					<option value="제페토">제페토</option>
					<option value="기타">기타</option>
				</select>
				<span class="icoArrow"><img src="https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png" alt=""></span>
			</div>	
			<!-- search bar -->
			<div class="search_bar">
				<input type="text" placeholder="search" class="search_content">
				<button type="submit" class="search_btn">
					<img src="/metahaus/images/search_icon.png" class="btn_image">
				</button>
			</div>
		</nav>

		<!-- Product grid -->
		<table class="products">
			<thead>
				<tr>
					<th colspan="4" class="sort">
						<a class="sort_tag">최근 등록순</a>
						<span>|</span>
						<a class="sort_tag">가격 낮은순</a>
						<span>|</span>
						<a class="sort_tag">가격 높은순</a>
						<span>|</span>
						<a class="sort_tag">인기순</a>
					</th>
				</tr>
			</thead>
			<tbody>
			 <tr th:each="asset, i:${assetlist}"  th:if="${i.index%4==1}">
					<td th:if="${i.index < i.size}" >
						<!-- Product -->
						<div class="product">
							<div class="product_img_cover">
								<img class="product_img" src="/mh/images/item2.png" alt="Product 1" />
							</div>
							<div class="product_info">
								<!-- 별점 -->
								<div class="reviewer_star_rating">
									<div class="star-ratings">
										<div class="star-ratings-fill space-x-2 text-lg"
									    :style="{ width: ratingToPercent + '%' }">
											<span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
										<div class="star-ratings-base space-x-2 text-lg">
											<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
									</div>
									<span>&ensp;(37)</span>
								</div>								
								<span th:text="${assetlist[i.index].title}" class="product_title"></span>
								<span th:text="${assetlist[i.index].sellerId}" class="product_seller"></span> 
								<span th:text="${assetlist[i.index].price}+원" class="product_price"></span>
							</div>
						</div>
					</td>
					<td th:if="${i.index+1 < i.size}">
						<!-- Product -->
						<div class="product">
							<div class="product_img_cover">
								<img class="product_img" src="/mh/images/item2.png" alt="Product 1" />
							</div>
							<div class="product_info">
								<!-- 별점 -->
								<div class="reviewer_star_rating">
									<div class="star-ratings">
										<div class="star-ratings-fill space-x-2 text-lg"
									    :style="{ width: ratingToPercent + '%' }">
											<span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
										<div class="star-ratings-base space-x-2 text-lg">
											<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
									</div>
									<span>&ensp;(37)</span>
								</div>								
								<span th:text="${assetlist[i.index+1].title}" class="product_title"></span>
								<span th:text="${assetlist[i.index+1].sellerId}" class="product_seller"></span> 
								<span th:text="${assetlist[i.index+1].price}+원" class="product_price"></span>
							</div>
						</div>
					</td>
					<td th:if="${i.index+2 < i.size}" >
						<!-- Product -->
						<div class="product">
							<div class="product_img_cover">
								<img class="product_img" src="/mh/images/item2.png" alt="Product 1" />
							</div>
							<div class="product_info">
								<!-- 별점 -->
								<div class="reviewer_star_rating">
									<div class="star-ratings">
										<div class="star-ratings-fill space-x-2 text-lg"
									    :style="{ width: ratingToPercent + '%' }">
											<span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
										<div class="star-ratings-base space-x-2 text-lg">
											<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
									</div>
									<span>&ensp;(37)</span>
								</div>								
								<span th:text="${assetlist[i.index+2].title}" class="product_title"></span>
								<span th:text="${assetlist[i.index+2].sellerId}" class="product_seller"></span> 
								<span th:text="${assetlist[i.index+2].price}+원" class="product_price"></span>
							</div>
						</div>
					</td>
					<td th:if="${i.index+3 < i.size}">
						<!-- Product -->
						<div class="product">
							<div class="product_img_cover">
								<img class="product_img" src="/mh/images/item2.png" alt="Product 1" />
							</div>
							<div class="product_info">
								<!-- 별점 -->
								<div class="reviewer_star_rating">
									<div class="star-ratings">
										<div class="star-ratings-fill space-x-2 text-lg"
									    :style="{ width: ratingToPercent + '%' }">
											<span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
										<div class="star-ratings-base space-x-2 text-lg">
											<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
										</div>
									</div>
									<span>&ensp;(37)</span>
								</div>								
								<span th:text="${assetlist[i.index+3].title}" class="product_title"></span>
								<span th:text="${assetlist[i.index+3].sellerId}" class="product_seller"></span> 
								<span th:text="${assetlist[i.index+3].price}+원" class="product_price"></span>
							</div>
						</div>
					</td>
			 </tr>
			</tbody>
		</table>
			
			<!-- 페이지 번호 -->
			<div class="page_wrap">
				<div class="page_nation">
					<a class="arrow pprev" href="#">&lang;&lang;</a>
					<a class="arrow prev" href="#">&lang;</a>
					<a href="/metahaus/asset/main?pageNo=0" class="active">1</a>
					<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a> 
				<a class="arrow next" href="#">&rang;</a>
				<a class="arrow nnext" href="#">&rang;&rang;</a>
			</div>
		</div>
	</div>
	</div><!-- layout:fragment -->	

</body>
</html>