<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layout/salesLayout}">
<head>
<meta charset="UTF-8">
<title>Asset/detail</title>
<link href="/metahaus/css/asset/market_product_detail.css" rel="stylesheet" type="text/css" />
<link href="/metahaus/css/asset/market_product_detail_img.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div layout:fragment="content" class="content">	
		<!-- product detail -->
		<div id="product_detail">
			<div>ASSET&ensp;&rang;&ensp;
				<span th:text="${asset.category1}"></span>&ensp;&rang;&ensp;
				<span th:text="${asset.category2_as}"></span>
			</div><br>
			<div id="main_title" th:text="${asset.title}"></div>
			<!-- 이미지 갤러리 -->
			<div id="photo_container">
				<div id="main_photo_box">
 					<img th:src="@{/upload/asset_thumbnail_img/}+${asset.main_img}" alt="photo" id="photo">
 				</div>
				<ul id="gallery" th:if="${assetImgs != null}">
					<li>
	 					<img th:src="@{/upload/asset_thumbnail_img/}+${asset.main_img}" alt="photo" id="photo">
					</li>
					<li th:each="assetImgs, i:${assetImgs}">
						<img th:src="@{/upload/asset_thumbnail_img/}+${assetImgs.asset_detail_img_store_filename}" alt="thumbnail">
					</li>
				</ul>
			</div>
			<div class="sub_title" id="product_explain">에셋 설명</div>
			<div class="sub_content" th:text="${asset.description}"></div>
			<div class="sub_title">가격</div>
			<div class="sub_content" th:text="${asset.price}+원"></div>
			
			<!-- 취소 및 환불 규정 -->
            <div class="sub_title">취소 및 환불 규정</div>
            <div class="sub_content">
            	1. 기본 환불 규정<br/>
            	&ensp;1) 전문가와 의뢰인의 상호 협의하에 청약 철회 및 환불이 가능합니다.<br/>
            	&ensp;2) 작업이 완료된 이후 또는 자료, 프로그램 등 서비스가 제공된 이후에는 환불이 불가합니다.<br/><br/>
            	2. 판매자 책임 사유<br/>
            	&ensp;1) 판매자의 귀책사유로 당초 약정했던 서비스 미이행 혹은 보편적인 관점에서 심각하게 잘못 이행한 경우 결제한 금액에 대하여 전액 환불이 가능합니다.
            	<br/><br/>&lowast;추가 관련 규정은 당사 홈페이지의 최소 및 환불관련 규정을 참고해 주십시오.
            </div>
            
            <!-- 리뷰 -->
            <div class="sub_title">에셋 평가</div>
            <div class="sub_content">
            	<!-- 종합리뷰 -->
	            <div class="review_summary">
	            	<div class="review_avg">4.0</div>
	            	<div>
						<!-- 별점 -->
						<div class="reviewer_star_rating">
							<div class="star-ratings">
								<div class="star-ratings-fill space-x-2 text-lg"
								    :style="{ width: ratingToPercent + '%' }">
									<span>★</span><span>★</span><span>★</span><span>★</span>
								</div>
								<div class="star-ratings-base space-x-2 text-lg">
									<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
								</div>
							</div>
						</div>
	            		<!-- 리뷰갯수 -->
						<div>서비스 후기 N개</div>
	            	</div>
	            </div>
	            <hr/>
				<div class="review_title">포토후기</div>
				<div>
					<div class="review_photos" style="background-color: pink;">
						<img alt="리뷰이미지" src="#" class="review_photo">
					</div>
				</div>
				
				<div class="review_title">등록리뷰</div>
				<div class="review-wrap">
					<div class="reviewer">김**(kim9*****)</div>
					<div class="review_info_wrap">
						<!-- 별점 -->
						<div class="reviewer_star_rating">
							<div class="star-ratings">
								<div class="star-ratings-fill space-x-2 text-lg"
									    :style="{ width: ratingToPercent + '%' }">
										<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
								</div>
								<div class="star-ratings-base space-x-2 text-lg">
									<span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
								</div>
							</div>
						</div>
						<!-- 리뷰점수 -->
						<div>&ensp;5.0&ensp;</div>
						<!-- 리뷰등록일자 -->
						<div class="reviewer">|&ensp;2023.06.21</div>
					</div>
					<br/>
					<div class="review_content">상담 친절하게 잘해주셔요 결과물도 만족합니다~!</div>
				</div>
				<div class="review-wrap">
					<div class="reviewer">김**(kim9*****)</div>
					<div class="reviewer">2023-06-21</div><br/>
					<div class="review_content">대표님 후기작성해주셨네요~~ 감사합니다 ㅎㅎ
사업 진행하시다가 홈페이지관련 및 다른업무가 생기더라도
유앤준을 찾아주시면
성심성의껏 답변드려서 도움드리도록 노력하겠습니다 감사합니다.</div>
				</div>
				            
            </div>
            
            <!-- 게시글 신고 -->
			<div id="report">
				<img alt="신고아이콘" src="/metahaus/images/report_icon.png" id="report_img">
				<a>&ensp;게시글 신고하기</a>
			</div>
		</div>

		<!-- select_product_box -->
		<div id="select_product_box">
			<!-- select product -->
			<div id="select_product">
	 		<img th:if="${asset.main_img != null}" id="represent_img"
					th:src="@{/upload/asset_thumbnail_img/}+${asset.main_img}"/>
				<div class="product_title" th:text="${asset.title}"></div>
				<div class="product_info" id="product_date" th:text="'작성일자: '+${asset.asset_date}"></div>
				<div class="product_info" id="product_price" th:text="${asset.price}+원"></div>
			</div>
			<!-- seller profile -->
			<div id="seller_profile">
				<div id="seller_img_box">
					<img alt="프로필 이미지" src="/metahaus/images/test_img.jpg" id="seller_img">
				</div>
				<div id="seller_info">
					<div class="seller_name" th:text="${asset.userName.userName}"></div>
					<div class="seller_name" th:text="${asset.seller_id}"></div>
				</div>
			</div>
			<!-- buy button -->
			<div id="btn">
				<button class="button--small btn_custom" id="ask" 
					th:onclick="|location.href='@{/chat/create/chatroom(seller_id=${asset.seller_id})}'|">문의하기</button>
				<button class="button--small btn_custom"
					 th:onclick="|location.href='@{/asset/purchase(assetNum=${asset.asset_id})}'|">구매하기</button>
			</div>
		</div>
	<script src="/metahaus/js/asset/market_detail.js"></script>
	</div><!-- layout:fragment -->	
	

</body>
</html>