<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div th:fragment="headerFragment">
		<div class="header-row">
			<h1>META HOUSE</h1>
			<nav class="top-nav">
				<ul>
					<li><a href="#">알림</a></li>
					<li><a href="#">채팅방</a></li>
					<li><a href="#">로그인</a></li>
					<li><a href="#">로그아웃</a></li>
				</ul>
			</nav>
		</div>

		<nav class="bottom-nav">
			<ul>
				<li><a href="#">META GIGS</a></li>
				<li><a href="#">META MARKET</a></li>
				<li><a href="#">META ACADEMY</a></li>
			</ul>
		</nav>
	</div>
</html>