<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="sidebar" th:fragment="menu">
		<div class="menu_list">
			<div class="menu_title">메타 마켓</div>
			<div class="menu_list_title">에셋 마켓</div>
			<ul class="menu_ul">
				<li class="menu_li"><a th:href="@{/asset/main?pageNo=1&category1=게더타운}">게더타운</a></li>
				<li class="menu_li"><a th:href="@{/asset/main?pageNo=1&category1=샌드박스}">더 샌드박스</a></li>
				<li class="menu_li"><a th:href="@{/asset/main?pageNo=1&category1=로블록스}">로블록스</a></li>
				<li class="menu_li"><a th:href="@{/asset/main?pageNo=1&category1=마인크래프트}">마인크래프트</a></li>
				<li class="menu_li"><a th:href="@{/asset/main?pageNo=1&category1=제페토}">제페토</a></li>
			</ul>
			<div class="menu_list_title">크리에이터 마켓</div>
				<ul class="menu_ul">
					<li class="menu_li"><a th:href="@{/project/main?pageNo=1&category1=게더타운}">게더타운</a></li>
					<li class="menu_li"><a th:href="@{/project/main?pageNo=1&category1=샌드박스}">더 샌드박스</a></li>
					<li class="menu_li"><a th:href="@{/project/main?pageNo=1&category1=로블록스}">로블록스</a></li>
					<li class="menu_li"><a th:href="@{/project/main?pageNo=1&category1=마인크래프트}">마인크래프트</a></li>
					<li class="menu_li"><a th:href="@{/project/main?pageNo=1&category1=제페토}">제페토</a></li>
				</ul>
		</div>
	</div>
</body>
</html>