@charset "UTF-8";

.view {
	display: flex;
	flex-direction: column;
	margin: 1rem 0 4rem 0;
}

/* product grid */
.products {
	margin: 0.5rem auto 3rem;
	padding: 10px 0;
	width: 100%;
	border-top: 2px solid #6C4AB6;
}

td {
	width: 25%;
}

.sort_pj {
	text-align: right;
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.sort_pj_tag {
	color: black;
	cursor: pointer;
}

.product {
	margin-bottom: 3em;
}

/* product img */
.product_img_cover {
	margin: 1rem auto;
	width: 90%;
	height: 10rem;
	border-radius: 6px;
	overflow: hidden;
}

.product_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* product info */
.product_info>span {
	display: block;
}

.product_title {
	margin-bottom: 0.5rem;
	margin-left: 1rem;
	font-size: 12pt;
	font-weight: bolder;
	color: black;
}

.product_seller {
	font-size: 10pt;
	margin-left: 1rem;
}

.product_price {
	float: right;
	margin-right: 1rem;
	font-weight: bold;
}
/*별점*/
.reviewer_star_rating {
	width: 100%;
	margin-left: -16px;
	margin-bottom: 1rem;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
}

.star-ratings {
	color: #aaa9a9;
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent;
	/* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
	color: #fff58c;
	padding: 0;
	position: absolute;
	z-index: 1;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-text-fill-color: gold;
}

.star-ratings-base {
	z-index: 0;
	padding: 0;
}

.star-ratings+span {
	font-size: 14px;
}