@charset "UTF-8";

.content {
	margin-bottom: 5rem;
	padding: 0;
	display: inline-flex;
	justify-content: space-between;
	width: 100%;
}

#product_detail {
	margin: 1rem;
	margin-right: 3rem;
	width: 70%;
}

#main_title {
	font-size: 26px;
	font-weight: bold;
}

.sub_title {
	margin-top: 25px;
	font-size: 16pt;
	font-weight: bold;
}

.sub_content {
	padding: 1rem;
	text-align: justify;
}

table {
	margin-top: 1rem;
	width: 100%;
}

th {
	background-color: rgba(141, 114, 255, 0.2);
	padding-left: 10px;
	vertical-align: middle;
}

tr {
	border-bottom: 1px solid;
}

td {
	padding-left: 10px;
	vertical-align: middle;
	vertical-align: middle;
}

.price_table {
	min-height: 250px;
	border-top: 1.5px solid;
	border-bottom: 1.5px solid;
}

.td2, .td3, .td4 {
	width: 30%;
}

.product_option {
	height: 50px;
	border: none;
}
/* 리뷰 종합 섹션 */
.review_summary {
	display: flex;
}

.review_avg {
	margin-right: 1rem;
	font-size: 1.6rem;
}

.review_title {
	margin: 1rem 0;
	font-size: 14pt;
	font: bold;
}
/* 별점 */
.reviewer_star_rating {
	display: flex;
	justify-content: flex-start;
	align-items: flex-end;
}

.star-ratings {
	color: #aaa9a9;
	position: relative;
	unicode-bidi: bidi-override;
	width: max-content;
	-webkit-text-fill-color: transparent;
	/* Will override color (regardless of order) */
	-webkit-text-stroke-width: 1.3px;
	-webkit-text-stroke-color: #2b2a29;
}

.star-ratings-fill {
	color: #fff58c;
	padding: 0;
	position: absolute;
	z-index: 0;
	display: flex;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-text-fill-color: gold;
}

.star-ratings-base {
	z-index: 0;
	padding: 0;
}
/* 고객 리뷰 섹션 */
.review-wrap {
	margin: 1rem 0;
	padding: 1rem;
	border-radius: 6px;
	background-color: rgba(223, 224, 255, 0.4);
}

.review_info_wrap {
	display: flex;
}
/* 댓글 답글 */
.speech-bubble {
	margin: 1rem 0 0 1rem;
	padding: 1rem;
	position: relative;
	border-radius: 0.4em;
	background: rgba(187, 152, 205, 0.4);
}

.speech-bubble:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 0.563em solid transparent;
	border-right-color: rgba(187, 152, 205, 0.4);
	border-left: 0;
	border-top: 0;
	margin-top: -2em;
	margin-left: -0.562em;
}

/* 답글 등록 */
.commentText {
	margin-right: 1rem;
	width: 70%;
	height: 2rem;
	border: none;
	border-bottom: solid black 1.5px;
}

.writeComment {
	width: 20%;
	height: 2rem;
	background-color: transparent;
	color: black;
	border: 1.5px solid;
	border-radius: 4px;
}
/* 신고 섹션 */
#report {
	margin: 1.5rem 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	height: 25px;
}

#report_img {
	height: 100%;
}
/* 선택상품 사이드바 */
#select_product_box {
	top: 18rem;
	position: sticky;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	width: 35%;
	height: 80%;
	box-shadow: 1px 1px 12px #C4B0FF;
	border-radius: 8px;
}

.select_product_box2 {
	top: 12rem;
	border-radius: 8px;
	box-shadow: 1px 1px 12px #C4B0FF;
}
/* 선택상품 사이드바 img,제목,날짜 가격 */
#select_product {
	margin: 5% auto;
	display: flex;
	flex-direction: column;
	width: 80%;
}
.select_product_bigbox {
	box-shadow: 0px 0px 2px #C4B0FF;
	padding-block-start: 1px;
    padding-left: 22px;
    padding-right: 22px;
    padding-block-end: 97px;
        margin-left: -9%;
    margin-right: -7%;
}

#represent_img {
	width: 100%;
}

.product_title {
	margin-top: 0.5rem;
	font-size: 16pt;
	font-weight: bold;
	overflow: hidden;
	word-wrap: break-word;
}

.product_info {
	margin: 0.5rem 0;
}

#product_price {
	font-size: 14pt;
	font-weight: bold;
}

/* 판매자 프로필 */
#seller_profile {
	margin-bottom: 1.5rem;
	padding: 3%;
	width: 80%;
	display: inline-flex;
	align-items: center;
	border-top: 1px solid;
	border-bottom: 1px solid;
	cursor: pointer;
}

#seller_img_box {
	width: 5em;
	height: 4.5em;
	border-radius: 50%;
	overflow: hidden;
}

#seller_img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

#seller_info {
	margin: 3%;
	width: 70%;
	font-size: 8pt;
}

.seller_name {
	margin: 3%;
}
/* 버튼 */
#btn {
	margin-bottom: 2rem;
	display: inline-flex;
	justify-content: space-around;
	width: 90%;
}

.btn_custom {
	padding: 0px;
	width: 95px;
	height: 40px;
	font-size: 10px;
}