@import "form_box.css";
@import "/mh/css/common/progress_bar.css";


.switch{
    display: flex;
    flex-direction: column;
    align-items:end;
    width: 100%;
}

.switch-outer{
	display:flex;
	flex-direction:row;
	padding:4px;
	align-items:center;
	width:45px;
	height:26px;
	border-radius:40px;
	border:2px solid var(--medium-purple);
	background-color:white;
	transiton:0.5s;
}
.switch-outer:hover{
	cursor:pointer;
}
.switch-inner{
	width:14px;
	height:14px;
	background-color:var(--medium-purple);
	border-radius:100%;
	transition:0.5s;
}

.on-outer{
	background-color:var(--medium-purple);
	display:flex;
	justify-content:end;
	transition:0.5s;
}
.on-inner{
	background-color:white;
	transition:0.5s;
}

/******** single패키지 시작 ********/
.single-package{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}
/* 단일 패키지 1열 (라벨 영역) */
.single-package-col01{
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex:1;
}
.single-package-col01 span{
    font-size: 18px;
    color: var(--gray);
}

.single-package-col01-wrapper{
    padding-top: 105px;
}
/* 제목 */
.single-package-col01-row01{
    margin-bottom: 86px;
}
/* 설명 */
.single-package-col01-row02{
    margin-bottom: 210px;
}
/* 가격 */
.single-package-col01-row03{
    margin-bottom: 45px;
}
/* 수정 */
.single-package-col01-row04{
    margin-bottom: 53px;
}


/* 단일패키지 2열 (실제 입력칸) */
.single-package-col02{
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex:9;
}

.single-package-col02-wrapper{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    flex: 1;
}

/* 단일패키지 실제 입력 칸 */
.single-package-type{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 50px;
}

/* 단일 패키지 - 제목 입력 */
.single-package-title{
    display: flex;
    flex-direction: column;
    width: auto;
    min-height: 80px;
    height:fit-content;
    background-color: rgb(141,114,225,0.1);
    border-radius:8px;
    padding: 10px;
    margin-bottom: 30px;
}
.single-package-title-row01{
    display: flex;
    width: auto;
    flex:4;
}
.single-package-title-row01 textarea{
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: auto;
    font-size: 16px;
}

.single-package-title-row02{
    display: flex;
    width: auto;
    font-size: 12px;
    color: var(--gray);
    flex:1;
}

/* 단일패키지 - 설명 입력 */
.single-package-description{
    display: flex;
    flex-direction: column;
    width: auto;
    height:200px;
    background-color: rgb(141,114,225,0.1);
    border-radius:8px;
    padding: 10px;
    margin-bottom: 30px;
}
.single-package-description-row01{
    display: flex;
    width: auto;
    flex:8;
}
.single-package-description-row01 textarea{
    background-color: rgba(0,0,0,0);
    width: 100%;
    font-size: 16px;
    overflow:auto;
}
.single-package-description-row02{
    display: flex;
    width: auto;
    font-size: 12px;
    color: var(--gray);
    flex:1;
}

/* 단일패키지 - 가격 입력 */
.single-package-cost{
	display: flex;
    flex-direction: row;
    align-items:center;
    width: auto;
    height:fit-content;
    background-color: rgb(141,114,225,0.1);
    border-radius:8px;
    padding: 10px;
    margin-bottom: 30px;
}
.single-package-cost input{
	background-color : rgba(1,1,1,0);
	width:35%;
}

/* 단일패키지 수정 */
.single-package-revision{
	position:relative;
	display:flex;
	width: 100%;
	flex-direction:row;
	align-items:center;
	margin-bottom: 30px;
	background-color: rgb(141,114,225,0.1);
	padding:10px;
	border-radius: 8px;
	
}
.single-package-revision-dropdown{
	display:flex;
	flex-direction:row;
	align-items:center;
	width : 100%;
	height: fit-content;
	font-weight:400;
}
.single-package-revision-dropdown:hover{
	cursor: pointer;
}
.single-package-revision-dropdown div{
	width:32%;
	display:flex;
	flex-direction: row;
	justify-content:space-between;
	align-items:center;
}

.single-package-revision ul{
	z-index:999;
	position:absolute;
	top : 40px;
	left:160px;
	display:flex;
	flex-direction:column;
	align-items:start;
	width:10%;
	height: 200px; 
	border-radius: 8px;
	box-shadow: var(--shade-dropdown);
	overflow-x:auto;
	
}
/* 스크롤바 꾸미기 */
.single-package-revision ul::-webkit-scrollbar{
    width: 5px
}
.single-package-revision ul::-webkit-scrollbar-thumb{
    background-color: var(--light-purple);  /* rgb(141,158,255) */
}
.single-package-revision ul::-webkit-scrollbar-track{
    background-color: rgba(141,158,255,0.2);
}
.single-package-revision li{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items : start;
	width:100%;
	padding-inline:20px;
	padding-block:5px;
	background-color: white;
}
.single-package-revision li:first-child{
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
}
.single-package-revision li:last-child{
	border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
}
.single-package-revision li:hover{
	cursor:pointer;
	color:var(--bright-purple);
	font-weight: bold;
}

/* 단일패키지 - 작업일 입력 */
.single-package-date{
	width:100%;
	height: fit-content;
	background-color: rgb(141,114,225,0.1);
	border-radius:8px;
	padding:10px;
}
.single-package-date input{
	background-color : rgba(1,1,1,0);
	width:35%;
}



/******** single패키지 끝 ********/

/**** 3단 패키지 시작 *****/
.triple-package{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-bottom: 40px;
}

/* triple-package-col01 */
.triple-package-col01{
    width: fit-content;
    display: flex;
    flex-direction: column;
    flex:1;
}
.triple-package-col01 span{
    font-size: 18px;
    color: var(--gray);
}

.triple-package-col-wrapper{
    padding-top: 105px;
}
/* 제목 */
.triple-package-col01-row01{
    margin-bottom: 86px;
}
/* 설명 */
.triple-package-col01-row02{
    margin-bottom: 210px;;
}
/* 가격 */
.triple-package-col01-row03{
    margin-bottom: 45px;
}
/* 수정 */
.triple-package-col01-row04{
    margin-bottom: 53px;
}

.triple-package-col02{
    width: fit-content;
    display: flex;
    flex-direction: row;
    flex:9;
}

.triple-package-wrapper{
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    flex: 1;
}
.triple-package-wrapper:nth-child(1){
	margin-right:4px;
}
.triple-package-wrapper:nth-child(2){
	margin-right:4px;
}

/* �뙣�궎吏����엯 �쁺�뿭 */
.triple-package-type{
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--gray);
    margin-bottom: 50px;
}

/* 3단 패키지 - 제목 입력 */
.triple-package-title{
    display: flex;
    flex-direction: column;
    width: auto;
    min-height:80px;
    height:fit-content;
    background-color: rgb(141,114,225,0.1);
    border-radius:8px;
    padding: 10px;
    margin-bottom: 30px;
}
.triple-package-title-row01{
    display: flex;
    width: auto;
    flex:8;
}
.triple-package-title-row01 textarea{
	font-size: 16px;
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: auto;
    resize: none;
  	overflow: hidden;
}
.triple-package-title-row02{
    display: flex;
    width: auto;
    font-size: 12px;
    color: var(--gray);
    flex:1;
}

/* 3단패키지 - 설명 입력*/
.triple-package-description{
    display: flex;
    flex-direction: column;
    width: auto;
    min-height:200px;
    height:fit-content;
    background-color: rgb(141,114,225,0.1);
    border-radius:8px;
    padding: 10px;
    margin-bottom: 30px;
}
.triple-package-description-row01{
    display: flex;
    width: auto;
    flex:8;
}
.triple-package-description-row01 textarea{
    background-color: rgba(0,0,0,0);
    width: 100%;
    height: auto;
    font-size: 16px;
}

.triple-package-description-row02{
    display: flex;
    width: auto;
    font-size: 12px;
    color: var(--gray);
    flex:1;
}
/* 3단패키지 - 가격 입력*/
.triple-package-cost{
	display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items:center;
    width: auto;
    height:fit-content;
    background-color: rgb(141,114,225,0.1);
    border-radius:8px;
    padding: 10px;
    margin-bottom: 30px;
}
.triple-package-cost input{
	background-color : rgba(1,1,1,0);
	width:80%;
}

/* 3단 패키지 수정 횟수 입력 */
.triple-package-revision{
	position:relative;
	display:flex;
	flex-direction:column;
	margin-bottom: 30px;
}
.triple-package-revision-dropdown{
	display:flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
	background-color: rgb(141,114,225,0.1);
	width : 100%;
	height: fit-content;
	padding:10px;
	border-radius: 8px;
	font-weight:500;
}
.triple-package-revision-dropdown:hover{
	cursor: pointer;
}
.triple-package-revision-dropdown div{
	width:90%;
	display:flex;
	flex-direction: row;
	align-items:center;
	justify-content: space-between;
}
.triple-package-revision ul{
	z-index:999;
	position:absolute;
	top:40px;
	left:135px;
	display:flex;
	flex-direction:column;
	align-items:start;
	width:30%;
	height: 200px;
	border-radius: 8px;
	box-shadow: var(--shade-dropdown);
	overflow-x: auto;
}
/* 스크롤바 꾸미기 */
.triple-package-revision ul::-webkit-scrollbar{
    width: 5px
}
.triple-package-revision ul::-webkit-scrollbar-thumb{
    background-color: var(--light-purple);  /* rgb(141,158,255) */
}
.triple-package-revision ul::-webkit-scrollbar-track{
    background-color: rgba(141,158,255,0.2);
}
.triple-package-revision li{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items : start;
	width:100%;
	padding-inline:20px;
	padding-block:5px;
	background-color: white;
}
.triple-package-revision li:first-child{
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.triple-package-revision li:last-child{
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.triple-package-revision li:hover{
	cursor:pointer;
	color:var(--bright-purple);
	font-weight: bold;
}
/* 3단패키지 - 작업일 입력 */
.triple-package-date{
	display:flex;
	flex-direction:row;
	height: fit-content;
	background-color: rgb(141,114,225,0.1);
	border-radius:8px;
	padding:10px;
}
.triple-package-date input{
	background-color : rgba(1,1,1,0);
}


/* 추가 옵션 스타일*/
.add-option{
    padding-inline: 40px;
    padding-block: 30px;
    border: 1px solid var(--medium-purple);
    border-radius: var(--radius-weak);
    margin-bottom: 40px;
}

.options-wrapper{
    display: flex;
    flex-direction: row;
}
.add-option-col01{
    flex:1;
}
.add-option-col01 span{
    font-size: 18px;
    color: var(--gray);
}

.add-option-col02{
    flex:4.6;
}
.option-box{
    padding: 20px;
    border: 1px solid var(--medium-purple);
    border-radius: var(--radius-weak);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.option-box-row01{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.option-box-row01 input{
    width: 20px;
    height: 20px;
    accent-color: var(--bright-purple);
}
.option-box-row01 input:hover{
    accent-color: rgba(108,74,182,0.3);
	transition:0.5s;
}

.option-box-row02{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    width: auto;
    height: 60px;
    padding-inline:20px ;
    background-color: rgb(141,114,225,0.1);
    border-radius: var(--radius-weak);
    margin-top: 10px;
}

.option-box-row02 input{
    background-color: rgba(0,0,0,0);
}



/* ////////////////////////////////////////////////////////// */


/* //////////////////////////////////////////////////////////// */

/* 踰꾪듉 �뙆�듃 */
.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.form-buttons div{
    display: flex;
    flex-direction: row;

}

.deactivate{
	display:none!important;
}





