
.modal-content{
    padding: 30px;
}

.modal-footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.minwoo_container{
	display:flex;
	flex-direction:column;
	align-items:center;
}
.form{
    width: 920px;
    height: fit-content;
    padding-inline: 40px;
    padding-block: 40px;
}

.form-wrapper{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-direction: column;
}

.form-item{
    display: flex;
    flex-direction: column;
    width: auto;
    height: fit-content;
    padding-inline : 40px;
    padding-top: 30px;
    padding-bottom: 10px;
    border: 1px solid var(--medium-purple);
    border-radius: var(--radius-weak);
    font-size: 18px;
    margin-bottom: 30px;
}

.form-item-column01{
    display: flex;
    flex-direction: row;
    margin-bottom: 15px;
}
.form-item-column02{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* .form-item-title */
.form-item-title{
    flex:1;
    line-height: 160%;
}
.form-item-title>span:nth-child(1){
    color: var(--gray);
}
.form-item-title>span:nth-child(2){
    color: var(--red);
}

/* .form-item-description */
.form-item-description{
    flex:5.6;
    line-height: 160%;
    border: none;
    background-color:rgba(1,1,1,0);
}
.form-item-description select{
    width: 100%;
    height: 60px;
    background-color: var(--light-gray);
    border: none;
    border-radius: var(--radius-weak);
    padding-inline: 20px;

}
/* 에디터 css*/ 
.ck{
	flex:5.6;
	width:100%;
	height:400px;
}
 .ck.ck-editor__editable.ck-focused {
   /* border:1px solid var(--light-purple)!important; */
 }

/* form-item-display (취소 및 환불) */
.form-item-display{
	display:flex;
	flex-direction:row;
	justify-content:center;
	align-items:center;
	flex:5.6;
	border:1px solid var(--bright-purple);
	border-radius: 6px;
	padding-block:10px;
}
.form-item-display:hover{
	transition:0.5s;
	background-color:rgb(141,114,225,0.2);
	cursor:pointer;
}
/* form-item-file */
.form-item-file{
    flex:5.6;
}
.form-item-file label{
    display: inline-block;
    width: fit-content;
    height: fit-content;
}

.image-add{
    width: 280px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-gray);
    cursor: pointer;
    border-radius:8px;
    overflow:hidden;
    transition:0.5s;
}
.image-add:hover{
	background-color:var(--gray);
	transition:0.5s;
}

.form-item-images-wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.image-frame{
	position:relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 280px;
    height: 180px;
    border-radius:8px;
    overflow:hidden;
    margin-right: 15px;
    margin-bottom: 15px;
}
.image-frame img{
    width: 100%;
    height: 100%;
}
.image-frame div{
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: var(--gray);
    font-size: 12px;
}

/* .form-item-counter */
.form-item-counter{
    color: var(--gray);
}

/* 버튼 파트 */
.form-buttons{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.form-buttons-cancel{
    border: none;
    background-color: white;
    font-weight: bold;
    color: var(--red) ;
    cursor: pointer;
    font-weight: bold;
}
.form-buttons-next{
    margin-left: 30px;
}
.form-buttons-submit{
    margin-left: 30px;
}
.full{
    display: none;
}