.progress-bar{
    width: 100%;
    height: fit-content;
    padding-bottom: 40px;
    display: flex;
    height: fit-content;
    flex-direction: row;
    justify-content: center;
    /* border-bottom: 1px solid var(--bright-purple); */
    margin-bottom: 40px;
    background-color: transparent!important;
}

.progress-bar-wrapper{
    width: 924px;
    height: fit-content;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.progress-bar-item{
    display: flex;
    align-items: center;
    width: fit-content;
    height: fit-content;
    font-size: 22px;
    font-weight: bold;
    color: var(--gray);
}
.progress-bar-text {
    margin-left: 30px;
}
.current{ /*현재 단계*/
    color: var(--bright-purple);
}