.row {
	display: flex;
	flex-direction: row;
}

.custom-primary {
	color: #6C4AB6;
	font-family: 'Noto Sans KR', sans-serif;
	font-size: 20px;
}

.navbar-right {
	margin-right: 0px;
	margin-top: 0px;
}

.custom-primary:hover {
	color: #0056b3;
}

.input-group {
	margin-left: -180px;
	margin-top: 60px;
}

.form-control {
	border-radius: 30px;
}

.btn-default {
	border-radius: 30px;
}

.nav.navbar-nav {
	font-weight: bold;
}

.custom-primaryimg {
	margin-top: 40px;
	margin-left: 30px;
}

.card {
	width: 500px;
	margin: 20px;
	border: 1px solid #ddd;
	border-radius: 4px;
	overflow: hidden;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-img {
	width: 100%;
	height: 200px;
	object-fit: cover;
}

.card-body {
	padding: 20px;
}

.card-title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 10px;
}

.card-text {
	font-size: 14px;
	color: #555;
}

.content{
	display: block;
}