/* 폰트 설정 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body{
    width: 100vw;
}

/* placeholder text style */
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  color: black;
}

input[type="number"]{
    color: black;
}

:root {
    /* 웹사이트 테마색 설정*/
    --bright-purple : #6c4ab6; /* rgb(108,74,182) */
    --medium-purple : #8d72E1; /* rgb(141,114,225) */
    --light-purple : #8d9eff; /* rgb(141,158,255) */
    --light-blue : #b9e0ff; /* rgb(185,224,255) */
    --gray : #AAAAAA;
    --light-gray : rgba(170,170,170,0.2); /*#F5F5F5;*/
    --red : #ff0000;

    /* 웹사이트 그림자 효과 */
    --shade-button : 4px 4px 8px rgba(0, 0, 0, 0.5);
    --shade-dropdown : 2px 6px 12px rgba(0, 0, 0, 0.25);
    --shade-item : 4px 4px 12px #C4B0FF; 

    
    /* border-radius 설정 */
    --radius-circle : 999px;
    --radius-strong : 20px;
    --radius-middle : 10px;
    --radius-weak : 6px;
  }
