<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	th:fragment="configFragment">

	<!-- 공용 head -->
	<meta charset="UTF-8">
	<title>Main Layout</title>
	
	<!-- 공용 css 파일 -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" th:href="@{/css/thymeleaf/reset.css}">
	<link rel="stylesheet" th:href="@{/css/thymeleaf/style.css}">
	<link rel="stylesheet" th:href="@{/css/thymeleaf/buttons.css}">
	<link rel="stylesheet" th:href="@{/css/layout/header.css}">
	<link rel="stylesheet" th:href="@{/css/layout/footer.css}">
	<link rel="stylesheet" th:href="@{/css/thymeleaf/menu.css}">
	<link rel="stylesheet" th:href="@{/css/thymeleaf/contents.css}">
	
	<!-- 공용 javascript 파일 -->
	<script src="https://kit.fontawesome.com/123626a3b2.js" crossorigin="anonymous"></script>

	<!-- content css 파일 -->
	<th:block layout:fragment="css"></th:block>
	
	<!-- content javascript 파일 -->
	<th:block layout:fragment="js"></th:block>
