   /* CSS 스타일링 */
   .container-chat {
    display: flex;
  }

  .sidebar-container {
    width: 300px;
    background-color: white;
    padding: 20px;
  }

  .user-profile {
    text-align: center;
    margin-bottom: 20px;
  }

  .user-profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
  }

  .user-profile h2 {
    margin-top: 10px;
    font-size: 18px;
  }

  .chat-list-container {
    background-color: white;
    padding: 20px;
    height: 400px;
    overflow-y: scroll;
  }

  .chat-list-container ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

  .chat-list-container li {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-bottom: 10px;
  }
  .chat-list-container li img {
    width: 30px; /* 이미지의 크기 조정 */
    height: 30px;
    border-radius: 50%; /* 이미지를 원형으로 만듦 */
    object-fit: cover; /* 이미지 비율 유지 */
    margin-right: auto; /* 이미지를 오른쪽으로 정렬 */
    margin-right: 10px; /* 이미지와 텍스트 사이 여백 설정 */
  }

  .chat-list-container li:hover {
    background-color: #6C4AB6;
  }

  .chat-room-container {
    flex: 1;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chat-room-container h1 {
    margin-top: 0;
  }

  .messages-container {
    flex-grow: 1;
    overflow-y: scroll;
  }

  .message-container {
    margin-bottom: 10px;
  }

  .input-box-container {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .input-box-container input[type="text"] {
    flex-grow: 1;
    padding: 10px;
  }

  .input-box-container button {
    margin-left: 10px;
    padding: 10px 20px;
    background-color: #6C4AB6;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5%;
  }

  .attachment-button-container {
    margin-top: 10px;
  }
  .seller-info-container{
  	width:300px;
  }