<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/salesLayout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/mh/css/thymeleaf/style.css" rel="stylesheet" >
<link href="/mh/css/market/Product_grid.css" rel="stylesheet" type="text/css" />
<link href="/mh/css/market/nav.css" rel="stylesheet" type="text/css" />
<link href="/mh/css/market/page_bar.css" rel="stylesheet" type="text/css" />
</head>
<body>
	<div layout:fragment="content">
	<!-- Main view -->
	<div class="view">
		<nav>
			<!-- category combo -->
			<div class="selectBox">
				<select name="" class="select">
					<option disabled selected>채널을 선택하세요</option>
					<option value="게더타운">게더타운</option>
					<option value="더 샌드박스">더 샌드박스</option>
					<option value="로블로스">로블로스</option>
					<option value="마인크래프트">마인크래프트</option>
					<option value="제페토">제페토</option>
					<option value="기타">기타</option>
				</select>
				<span class="icoArrow"><img src="https://freepikpsd.com/media/2019/10/down-arrow-icon-png-7-Transparent-Images.png" alt=""></span>
			</div>	
			<!-- search bar -->
			<div class="search_bar">
				<input type="text" placeholder="search" class="search_content">
				<button type="submit" class="search_btn">
					<img src="/mh/images/search_icon.png" class="btn_image">
				</button>
			</div>
		</nav>

		<!-- Product grid -->
			<table class="products">
				<tbody>
					<tr>
						<td>
							<!-- Product -->
						<div class="product">
							<div class="product_img_cover">
								<img class="product_img" src="/mh/images/test_img2.png" alt="Product 1" />
							</div>
							<div class="product_info">
								<span class="product_title">Product1</span>
								<span class="product_seller">판매자A</span> 
								<span class="product_price">30,000원</span>
							</div>
						</div>
					</td>
					<td>
						<!-- Product -->
						<div class="product">
							<div class="product_img_cover">
								<img class="product_img" src="/mh/images/test_img2.png" alt="Product 1" />
							</div>
							<div class="product_info">
								<span class="product_title">Product1</span>
								<span class="product_seller">판매자A</span> 
								<span class="product_price">30,000원</span>
							</div>
						</div>
					</td>
					<td>
						<!-- Product -->
						<div class="product">
							<div class="product_img_cover">
								<img class="product_img" src="/mh/images/test_img2.png" alt="Product 1" />
							</div>
							<div class="product_info">
								<span class="product_title">Product1</span>
								<span class="product_seller">판매자A</span> 
								<span class="product_price">30,000원</span>
							</div>
						</div>
					</td>
					<td>
						<!-- Product -->
						<div class="product">
							<div class="product_img_cover">
								<img class="product_img" src="/mh/images/test_img2.png" alt="Product 1" />
							</div>
							<div class="product_info">
								<span class="product_title">Product1</span>
								<span class="product_seller">판매자A</span> 
								<span class="product_price">30,000원</span>
							</div>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<!-- Product -->
					<div class="product">
						<div class="product_img_cover">
							<img class="product_img" src="/mh/images/test_img2.png" alt="Product 1" />
						</div>
						<div class="product_info">
							<span class="product_title">Product1</span>
							<span class="product_seller">판매자A</span> 
							<span class="product_price">30,000원</span>
						</div>
					</div>
				</td>
				<td>
					<!-- Product -->
					<div class="product">
						<div class="product_img_cover">
							<img class="product_img" src="/mh/images/test_img2.png" alt="Product 1" />
						</div>
						<div class="product_info">
							<span class="product_title">Product1</span>
							<span class="product_seller">판매자A</span> 
							<span class="product_price">30,000원</span>
						</div>
					</div>
				</td>
				<td>
					<!-- Product -->
					<div class="product">
						<div class="product_img_cover">
							<img class="product_img" src="/mh/images/test_img2.png" alt="Product 1" />
						</div>
						<div class="product_info">
							<span class="product_title">Product1</span>
							<span class="product_seller">판매자A</span> 
							<span class="product_price">30,000원</span>
						</div>
					</div>
				</td>
				<td>
					<!-- Product -->
					<div class="product">
						<div class="product_img_cover">
							<img class="product_img" src="/mh/images/test_img2.png" alt="Product 1" />
						</div>
						<div class="product_info">
							<span class="product_title">Product1</span>
							<span class="product_seller">판매자A</span> 
							<span class="product_price">30,000원</span>
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td>
					<!-- Product -->
				<div class="product">
					<div class="product_img_cover">
						<img class="product_img" src="/mh/images/test_img2.png" alt="Product 1" />
					</div>
					<div class="product_info">
						<span class="product_title">Product1</span>
						<span class="product_seller">판매자A</span> 
						<span class="product_price">30,000원</span>
					</div>
				</div>
			</td>
			<td>
				<!-- Product -->
				<div class="product">
					<div class="product_img_cover">
						<img class="product_img" src="/mh/images/test_img2.png" alt="Product 1" />
					</div>
					<div class="product_info">
						<span class="product_title">Product1</span>
						<span class="product_seller">판매자A</span> 
						<span class="product_price">30,000원</span>
					</div>
				</div>
			</td>
			<td>
				<!-- Product -->
				<div class="product">
					<div class="product_img_cover">
						<img class="product_img" src="/mh/images/test_img2.png" alt="Product 1" />
					</div>
					<div class="product_info">
						<span class="product_title">Product1</span>
						<span class="product_seller">판매자A</span> 
						<span class="product_price">30,000원</span>
					</div>
				</div>
			</td>
			<td>
				<!-- Product -->
				<div class="product">
					<div class="product_img_cover">
						<img class="product_img" src="/mh/images/test_img2.png" alt="Product 1" />
					</div>
					<div class="product_info">
						<span class="product_title">Product1</span>
						<span class="product_seller">판매자A</span> 
						<span class="product_price">30,000원</span>
					</div>
				</div>
			</td>
		</tr>

				</tbody>
			</table>
			
			<!-- 페이지 번호 -->
			<div class="page_wrap">
				<div class="page_nation">
					<a class="arrow pprev" href="#">&lang;&lang;</a>
					<a class="arrow prev" href="#">&lang;</a>
					<a href="#" class="active">1</a>
					<a href="#">2</a>
				<a href="#">3</a>
				<a href="#">4</a>
				<a href="#">5</a> 
				<a class="arrow next" href="#">&rang;</a>
				<a class="arrow nnext" href="#">&rang;&rang;</a>
			</div>
		</div>
	</div>
	</div><!-- layout:fragment -->	

</body>
</html>