<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/nonsideLayout}">
<head>
<meta charset="UTF-8">
<title>크리에이터 판매 상품 결제하기</title>
<link href="/mh/css/thymeleaf/reset.css" rel="stylesheet" type="text/css">
<link href="/mh/css/thymeleaf/style.css" rel="stylesheet" type="text/css">
<link href="/mh/css/thymeleaf/buttons.css" rel="stylesheet" type="text/css">
<link href="/mh/css/market/purchase.css" rel="stylesheet" type="text/css">
<script src="https://kit.fontawesome.com/123626a3b2.js" crossorigin="anonymous"></script>
</head>
<body>
	<div layout:fragment="content" class="content">
		<p id="title">결제하기</p>
		<div id="main-view">
			<div id="purchase_summary">
				<div id="product_info">
					<div class="product_basic_info">
						<div id="product_img_box">
							<img alt="상품대표이미지" src="/mh/images/test_img2.png" id="product_img">
						</div>
						<div>
							<p class="sub_title">상품명</p>
							<p class="data">재페토 의류 제작</p>
							<p class="sub_title">판매자</p>
							<span class="data">SellerA</span>
							<span class="data">(연락처:&ensp;070-1234-1234)</span>
						</div>
					</div>
				</div>
				<div class="wrap" id="check_buyer_info">
					<p class="sub_title">구매자 정보 확인</p>
					<div class="data">
						<div class="buyer_info" id="buyer_name">
							<span>이름&nbsp;</span> <input type="text" required="required" class="buyer_info_inupt">
						</div>
						<div class="buyer_info" id="buyer_tell">
							<span>연락처</span> <input type="text" required="required" class="buyer_info_inupt">
						</div>
					<p>&lowast;서비스 의뢰자의 정보와 동일해야합니다.</p>
					</div>
				</div>
			    <div class="wrap">
					<p class="sub_title">요청사항</p>
					<div class="data request_form">
						<textarea placeholder="요청사항을 간략히 작성해주세요"  maxlength="100" ></textarea>
						<div class="request-counter">
							<span class="counter">0</span> <span>/</span> <span>100</span>
						</div>
					</div>
			    </div>
			</div>

			<div id="price_summary">
				<div class="data distance">
					<span>상품금액</span><span class="price_data">30,000원</span>
				</div>
				<div class="data distance,">
					<span>수수료</span><span class="price_data">0원</span>
				</div>
				<div class="data distance">
					<span class="total_price">최종결제 금액</span><span class="price_data total_price">30,000원</span>
				</div>
				<hr/>
				<div class="data distance">
					<span>보유 캐쉬</span><span class="price_data">100,000원</span>
				</div>
				<div class="data distance">
					<span>결제 후 캐쉬</span><span class="price_data">70,000원</span>
				</div>
				<hr/>
				<p>*결제는 메타캐시만 가능합니다.</p>
				<div id="btn">
					<button class="button--large myBtn">구매하기</button>
				</div>
			</div>
		</div>
	</div><!-- layout:fragment -->
</body>
</html>