<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>META HOUSE</title>
    <!-- 부트스트랩 CSS 파일 로드 -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./header.css">
    <title>Document</title>
</head>
<body>
    <header class="container-fluid gradient-bg" style="border-bottom: 1px solid #6C4AB6;">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <a href="your_homepage_url">
                        <img src="./v3.png" alt="META HOUSE" class="custom-primaryimg" style="height: 90px;">
                    </a>
                </div>
                <div class="col-md-6">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="서비스 또는 전문가를 검색해보세요.">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">Go</button>
                        </span>
                    </div>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="nav-item"><a class="nav-link custom-primary" href="#"><span class="glyphicon glyphicon-bell"></span> </a></li>
                        <li class="nav-item"><a class="nav-link custom-primary" href="#"><span class="glyphicon glyphicon-comment"></span> </a></li>
                        <li class="nav-item"><a class="nav-link custom-primary" href="#"><span class="glyphicon glyphicon-log-in"></span> </a></li>
                        <li class="nav-item"><a class="nav-link custom-primary" href="#"><span class="glyphicon glyphicon-user"></span> </a></li>
                    </ul>
                </div>
            </div>
            <ul class="nav navbar-nav">
                <li class="nav-item"><a class="nav-link custom-primary" href="#">META GIGS</a></li>
                <li class="nav-item"><a class="nav-link custom-primary" href="#">META MARKET</a></li>
                <li class="nav-item"><a class="nav-link custom-primary" href="#">META ACADEMY</a></li>
            </ul>
        </div>
    </header>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap//js/bootstrap.min.js"></script>
</body>
</html>