<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/nonsideLayout}">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/mh/css/main/index.css"/>
  
    <title>META HOUSE</title>
</head>
<body>
<div layout:fragment="content">
<section class="section-visual">
    <div class="inner">
        
        <div class="chat-box">
            <input type="text" placeholder="전문가를 찾아보세요.">
        </div>
    </div>
    <video src="./v14.mp4" autoplay muted loop></video>
</section>

<hr/>
<section id="banner-section">
    <div class="banner-wrap">
        
        <div class="banner-title-wrap">
            <span class="myfont-1">메타하우스를 이용한 회원들의 생생한 후기</span>
            <span class="myfont-2 ml-auto">더보기</span>
        </div>

        <div class="banner-slider-wrap">
            <div class="btn-shape prebtn" onclick='pre(this)'>◀</div>
            <div class="btn-shape nextbtn" onclick='next(this)'>▶</div>

            <div class="slider-outter">
                <div index="0" class="banner-slider-list">
                    <div class="banner-slider-item">
                        <div class="item-img-warp" ></div>
                        
                        <div class="item-desc-warp">
                            <span class="myfont-3">후기1</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">후기2</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">후기3</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">후기4</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">후기5</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">후기6</span>
                         
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">후기7</span>
                           
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">후기8</span>
                          
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">후기9</span>
                     
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr/>

<section id="banner-section">
    <div class="banner-wrap">
        
        <div class="banner-title-wrap">
            <span class="myfont-1">메타 긱스에서 당신의 프로젝트를 맡겨보세요!</span>
            <span class="myfont-2 ml-auto">더보기</span>
        </div>

        <div class="banner-slider-wrap">
            <div class="btn-shape prebtn" onclick='pre(this)'>◀</div>
            <div class="btn-shape nextbtn" onclick='next(this)'>▶</div>

            <div class="slider-outter">
                <div index="0" class="banner-slider-list">
                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스1</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스2</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스3</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스4</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스5</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스6</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스7</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스8</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스9</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>

        

    </div>
</section>

<hr/>

<section id="banner-section">
    <div class="banner-wrap">
        
        <div class="banner-title-wrap">
            <span class="myfont-1">메타 마켓에서 당신이 원하는 에셋을 가져가세요!</span>
            <span class="myfont-2 ml-auto">더보기</span>
        </div>

        <div class="banner-slider-wrap">
            <div class="btn-shape prebtn" onclick='pre(this)'>◀</div>
            <div class="btn-shape nextbtn" onclick='next(this)'>▶</div>

            <div class="slider-outter">
                <div index="0" class="banner-slider-list">
                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스1</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스2</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스3</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스4</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스5</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스6</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스7</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스8</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스9</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>

        

    </div>
</section>


<hr/>
<section id="banner-section">
    <div class="banner-wrap">
        
        <div class="banner-title-wrap">
            <span class="myfont-1">메타 아카데미에서 강의를 듣고 직접 크리에이터가 되어보세요!</span>
            <span class="myfont-2 ml-auto">더보기</span>
        </div>

        <div class="banner-slider-wrap">
            <div class="btn-shape prebtn" onclick='pre(this)'>◀</div>
            <div class="btn-shape nextbtn" onclick='next(this)'>▶</div>

            <div class="slider-outter">
                <div index="0" class="banner-slider-list">
                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스1</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스2</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스3</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스4</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스5</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스6</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스7</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스8</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>

                    <div class="banner-slider-item">
                        <div class="item-img-warp"></div>
                        <div class="item-desc-warp">
                            <span class="myfont-3">메타버스틱스9</span>
                            <span class="myfont-2">당신만의 메타버스 맵을 제작 해 드리겠습니다. 얼른 제안하세요!</span>
                            <span class="myfont-1">85,000원~</span>
                            <span class="myfont-3">★ 4.8 | 1,147개의 평가</span>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</section>



<hr/>


    <section class="section-visual2">
    <video  src="video1.mp4" autoplay muted loop></video>
    </section>


            
	<script>
      function next(el){
            let list = el.parentNode.querySelector(".banner-slider-list");

            let listSize = list.offsetWidth;
            let itemSize = list.firstElementChild.offsetWidth;
            let countOfView = parseInt(listSize/itemSize);



            let index = Number(list.getAttribute("index"));
            let itemCount = list.childElementCount;

            if(index+countOfView >= itemCount){
                return;
            }
            index++;
            list.setAttribute("index",index);
            
            
            list.style.left = -itemSize*index+"px";

        }

        function pre(el){
            let list = el.parentNode.querySelector(".banner-slider-list");

            let listSize = list.offsetWidth;
            let itemSize = list.firstElementChild.offsetWidth;
            let countOfView = parseInt(listSize/itemSize);



            let index = Number(list.getAttribute("index"));
            let itemCount = list.childElementCount;

            if(index<=0){
                list.style.left = 0;
                list.setAttribute("index",0);
                return;
            }
            index--;
            list.setAttribute("index",index);
            
            list.style.left = -itemSize*index+"px";
        }

    </script>
         <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
         <script src="https://maxcdn.bootstrapcdn.com/bootstrap//js/bootstrap.min.js"></script>
  </div>
</body>
</html>