@charset "UTF-8";
*{
	box-sizing: border-box;
}

.login_page{
	height: 800px;
}

.login_box{
	border: solid 1px #6C4AB6;
	width:1002px; /* 900px로 맞추기 위한 작업 */
	height: 702px;
	position:absolute;
   	top:50%; 
   	left:50%;
   	transform: translate(-50%, -50%);
   	border-radius: 5px;
   	display: flex;
   	box-shadow: 1px 1px 1px 1px #8D9EFF;
	
}

.login_page_img{
	background-color: #6C4AB6;
	border-right: solid 1px #6C4AB6;
	width: 595px; 
	height: 700px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
	background-image: url("/mh/images/loginimg1.jpg");
    background-size: cover;
    background-position: 920px;
    overflow: hidden;
	
}

.login_page_img img{
	width: 100%;
	height: 100%;
	
	
}

.login_text>p{
	font-size: 24px;
	font-weight: bold;
	color: #8D72E1;
	
}

.login_page_input_area{
	width: 404px; 
	padding: 40px;
	padding-top: 70px;
	
}

.login_text{
	height: 50px;
}
.login_area{
	width:324px;
	height: 230px;
}

.login_info_input{
	margin-bottom:10px;
	width:324px;
	height:50px;
	padding-left: 10px;
	font-size: 16px;
	border: solid 1px #6C4AB6;
	border-radius: 6px;
}

.login_button{
	margin-bottom:10px;
	width:324px;
	height:50px;
	background-color: #6C4AB6;
	border: solid 1px #6C4AB6;
	border-radius: 6px;
	font-size: 16px;
	font-weight: bold;
	color: white;
}

.login_check_box_area{
	width:324px;
	display: flex;
}
.keep_login{
	width:106px;
}
.find_id_pass{
	width:218px;
	text-align: right;
}

.find_id_pass>a{
	color: #6C4AB6;
	text-decoration: none;
}

.sns_login_area{
	width:324px;
	height: 93px;
}

.sns_login_text{
	text-align: center;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 14px;
}

.login_sns_logo_area{
	height: 52px;
	display: flex;
	justify-content: center;
}
.login_sns_logo{
	width:52px;
	margin-left: 10px;
	margin-right: 10px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.login_sns_logo:nth-child(1){
	background-color: #1EC800;
}
.login_sns_logo:nth-child(2){
	background-color: #F9E000;
}
.login_sns_logo:nth-child(3){
	background-color: #F8F9FD;
}

.signup_text{
	margin-top: 10px;
	margin-bottom: 10px;
}

.signup_text>p{
	font-size: 16px;
	font-weight: bold;
}

.link_signup_page{
	width:324px;
	height:50px;
	border: solid 1px #6C4AB6;
	border-radius: 6px;
	background-color: white;
	text-align: center;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	background-color: #6C4AB6;
}

.link_signup_page>a{
	color: white;
	text-decoration: none;
}