@charset "UTF-8";
*{
    box-sizing: border-box;
}

.profile_setting{
	padding: 40px
	
}

.profile_setting_title{
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #8D72E1;
}


.profile_change_area{
	background-color: white;
	display: flex;
	background-color: #FAFAFC;
	border: solid 1px white;
	border-radius: 6px;
	height: 300px;
}

.profile_img_change{
	width: 240px;
	height: 260px;
	padding-top: 10px;
	padding-left: 18px;
	padding-right: 18px;
	margin-top:20px;
	margin-left: 20px;
	margin-right: 20px;
	box-shadow: 0 4px 14px rgba(48,52,65,0.08);
	border: solid 1px white;
	background-color: white;
}
.profile_change_img_view{
	width: 200px;
	height: 200px;
	margin-bottom: 5px;
	border-radius: 50%;
	background-color: #8D9EFF;
	overflow: hidden;
}
.profile_text_change{
	width: 550px;
	margin: 20px;
	border: solid 1px white;
	background-color:white;
	border-radius: 6px;
	padding: 20px;
	font-size: 16px;
	box-shadow: 0 4px 14px rgba(48,52,65,0.08);
	resize: none;
}

.profile_text_change>textarea{
	width: 500px;
	height: 218px;
	resize: none;
	padding: 10px;
}

.profile_detail_change{
	margin-top: 20px;
	height: 350px;
	padding: 20px;
	background-color: #FAFAFC;
	border: solid 1px white;
	border-radius: 6px;
}

.profile_detail_change_box{
	font-size: large;
	font-weight: bold;
}

.profile_detail_change_write{
	border: solid 1px #8D9EFF;
	border-radius: 6px;
	height: 50px;
	margin-bottom: 10px;
	line-height: 50px;
	padding-left: 30px;
	display: flex;
}

.profile_detail_change_write_title{
	width: 100px;
	font-size: 16px;
	line-height: 48px;
}

.profile_detail_change_write_text{
	line-height: 48px;
}

.profile_detail_change_write_text>input{
	width: 500px;
	height: 40px;
	margin-bottom: 10px;
	margin-left: 20px;
	padding-left: 20px;
	border: solid 1px #FAFAFC;
	background-color: white;
	font-size: 16px;
	border-radius: 6px;
	
}

.agree_check_box_area{
	background-color: #FAFAFC;
	margin-top: 20px;
	height: 260px;
	padding: 20px;
}

.agree_check_box{
	height: 160px;
	padding: 20px;
	border: solid 1px #8D9EFF;
	margin-top: 20px;
	margin-bottom: 20px;
	border-radius: 6px;
}

.agree_check_box_title{
	font-size: 16px;
	font-weight: bold;
	margin-left: 10px;
	color: #8D72E1;
}

.profile_setting_button{
	background-color: white;
	height: 100px;
	padding: 20px;
	text-align: center;
	display: flex;
	justify-content: center;
}

.profile_img_input{
	width: 100px;
	height: 30px;
	background-color: #8D9EFF;
	margin-left:50px;
	margin-top:5px;
	border: solid 1px white;
	border-radius:6px;
	color: white;
	text-align: center;
	line-height: 26px;
	font-size: 14px;
}

#profile_img{
	display: none;
}

.button--small>input{
	background-color: var(--bright-purple);
	border: none;
	text-align: center;
}
.button--small{
	margin: 10px;
}
