<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/mypageLayout}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="/metahaus/css/point/point.css" />
	<link rel="stylesheet" type="text/css" href="/metahaus/css/point/charge.css" />
</head>
<body>
	<div class="point-charge-section" layout:fragment="content">
		<h3>내 포인트</h3>
		<div class="mypoint-info">
			<div class="mypoint-label-div">
				<span class="mypoint-label">보유 포인트</span> <span class="mypoint-count" th:text="${session.loginUser?.point}">  </span> 
			</div>
		</div>


		<h3>포인트 충전</h3>
		<div class="point-charge-form-div">
			<form action="/metahaus/point/charge.do">
				<div class="point-charge-form-inner-radio">
					<p>MetaPoint</p>
					<input type="radio" id="point1" name="point" value="1000" ><label for="point1" class="box-radio-input"><span th:text="1000원"></span></label>
					<input type="radio" id="point2" name="point" value="3000" ><label for="point2" class="box-radio-input"><span th:text="3000원"></span></label>
					<input type="radio" id="point3" name="point" value="5000" ><label for="point3" class="box-radio-input"><span th:text="5000원"></span></label>
					<input type="radio" id="point4" name="point" value="10000" ><label for="point4" class="box-radio-input"><span th:text="10000원"></span></label>
					<input type="radio" id="point5" name="point" value="50000" ><label for="point5" class="box-radio-input"><span th:text="50000원"></span></label>
				</div>	
				</br></br>
				<input type="submit" class="button--small"/>
			</form>
			
		</div>
	</div>
</body>
</html>