<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/mypageLayout}">
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
	<link rel="stylesheet" type="text/css" href="/metahaus/css/point/point.css" />
	<link rel="stylesheet" type="text/css" href="/metahaus/css/point/charge.css" />
</head>
<body>
	<div class="point-charge-section" layout:fragment="content">
		<h3>내 포인트</h3>
		<div class="mypoint-info">
			<div class="mypoint-label-div">
				<span class="mypoint-label">보유 포인트</span> <span class="mypoint-count"> 1,500 </span> 
			</div>
		</div>


		<h3>포인트 충전</h3>
		<div class="point-charge-form-div">
			<form action="/metahaus/point/charge.do">
				<input type="radio" name="point" value="1000" checked="checked" th:text="1000원"/> </br>
				<input type="radio" name="point" value="5000" th:text="5000원"/> </br>
				<input type="radio" name="point" value="10000" th:text="10000원"/> </br> 
				<input type="radio" name="point" value="30000" th:text="30000원"/> </br>
				<input type="radio" name="point" value="50000" th:text="50000원"/> </br>
				
				<input type="submit" class="button--small"/>
			</form>
			
		</div>
	</div>
</body>
</html>