<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/mypageLayout}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/metahaus/css/point/point.css" />
<script type="text/javascript">
	$(document).ready(function(){
		// 충전 내역 조회
		$(document).on("click", (".cg-pageNo"), function(){
			$.ajax({
				url:"/metahaus/point/page/cgpi",
				type:"post",
				data: {
					pageNo : $(this).children().text()
				},
				dataType:"json",
				success:function(data){
					console.log(data);
					console.log(data.tot_page_cgpi);
					// 기존데이터 삭제	
					$("#cg_tb").children("tbody").children().remove();
					//$("#cgPagingPager").children(".cg-pageNo").remove();
					
					$("#cgPagingPager").remove();
					
					let addElement = '';
					let addPager = '';
					let myDate = '';

					// 내역 작성
					for(let i=0; i<data.cgpi.length; i++){
						addElement += '<tr class="cgInfo">';
						addElement += '<td>' + data.cgpi[i].paymentMethod + '</td>';
						// 날짜 데이터 포맷
						myDate = data.cgpi[i].chargeDate.substring(0, 10);
						addElement += '<td>' + myDate + '</td>';
						addElement += '<td>' + data.cgpi[i].chargingPoint + ' 포인트</td>';
						addElement += '<td>' + data.cgpi[i].remainingPoint + ' 포인트</td>';
						addElement += '</tr>';
					}
					 
					// 페이저 작성
					addPager += '<ul id="cgPagingPager" class="pager">';
					addPager += '<li class="previous">';
					addPager += '<a href="#">Previous</a>';
					addPager += '</li>';
					
					for(let i=1; i<=data.tot_page_cgpi; i++){
						addPager += '<li class="cg-pageNo">';
						addPager += '<a>' + i + '</a>'
						addPager += '</li>';
					}
					
					addPager += '<li class="next">';
					addPager += '<a href="#">Next</a>';
					addPager += '</li></ul>';
					 
					// 새 데이터 삽입
					$("#cg_tb").children("tbody").append(addElement);
					
					// 페이저 삽입
					//$("#cgPagingPager").children(".previous").after(addPager);
					$(".cg-paging-div").append(addPager);
				}
			})
		})
 		
		// 소비 내역 조회
		$(document).on("click", (".cs-pageNo"), function(){
			$.ajax({
				url:"/metahaus/point/page/cspi",
				type:"post",
				data: {
					pageNo : $(this).children().text()
				},
				dataType:"json",
				success:function(data){
					console.log(data);
					console.log(data.tot_page_cspi);
					// 기존데이터 삭제	
					$("#cs_tb").children("tbody").children().remove();
					$("#csPagingPager").children(".cs-pageNo").remove();
					
					let addElement = '';
					let addPager = '';
					let myDate = '';
					
					// 내역 작성
					for(let i=0; i<data.cspi.length; i++){
						addElement += '<tr class="csInfo">';
						addElement += '<td>' + data.cspi[i].consumeInfo + '</td>';
						// 날짜 데이터 포맷
						myDate = data.cspi[i].consumeDate.substring(0, 10);
						addElement += '<td>' + myDate + '</td>';
						addElement += '<td>' + data.cspi[i].consumingPoint + ' 포인트</td>';
						addElement += '<td>' + data.cspi[i].remainingPoint + ' 포인트</td>';
						addElement += '</tr>';
					}
					 
					// 페이저 작성
					for(let i=1; i<=data.tot_page_cspi; i++){
						addPager += '<li class="cs-pageNo">';
						addPager += '<a>' + i + '</a>'
						addPager += '</li>';
					}
					 
					// 새 데이터 삽입
					$("#cs_tb").children("tbody").append(addElement);
					
					// 페이저 삽입
					$("#csPagingPager").children(".previous").after(addPager);
					
				}
			})
		})
		 
	})
 
</script>
<title>내 포인트 조회</title>
</head>
	<body>
		<div class="mypoint-section" layout:fragment="content">
			<h3>내 포인트</h3>
			<div class="mypoint-info">
				<div class="mypoint-label-div">
					<span class="mypoint-label">보유 포인트</span> <span class="mypoint-count" th:text="${session.loginUser?.point}"></span> 
				</div>
				<div class="mypoint-label-div">
					<span class="mypoint-label">충전 포인트</span> <span class="mypoint-count" th:text="${tot_cgp}"></span>
				</div>
				<div class="mypoint-label-div">
					<span class="mypoint-label">사용 포인트</span> <span class="mypoint-count" th:text="${tot_csp}"></span>
				</div>
			</div>
			<div class="mypoint-button-div">
				<button class="button--small" onclick="location.href='/metahaus/point/charge'">충전하기</button>
			</div>
	
			<div class="mypoint-history">
				<h3>충전 내역 조회</h3>
				<table id="cg_tb">
					<thead>
						<tr class="tb_head">
							<th>충전 수단</th>
							<th>충전 일시</th>
							<th>충전 포인트</th>
							<th>잔여 포인트</th>
						</tr>
					</thead>
					<tbody>
						<tr class="cgInfo" th:each="cpi:${cgpilist}">
							<td th:text="${cpi.paymentMethod}"></td>
							<td th:text="${#dates.format(cpi.chargeDate, 'yyyy-MM-dd')}"></td>
							<td th:text="${cpi.chargingPoint + ' 포인트'}"></td>
							<td th:text="${cpi.remainingPoint + ' 포인트'}"></td>
						</tr>
					</tbody>
				</table>
				<div class="cg-paging-div">
					<!--/* Bootstrap pager */-->
					<ul id="cgPagingPager" class="pager">
						<li class="previous">
							<a href="#">Previous</a>
						</li>
						<li class="cg-pageNo" th:each="num:${#numbers.sequence(1, tot_page_cgpi)}" th:if="${num != 0}">
							<a th:text="${num}"></a>
						</li>
						<li class="next">
							<a href="#">Next</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="mypoint-history">
				<h3>사용 내역 조회</h3>
				<table id="cs_tb">
				<thead>
					<tr class="tb_head">
						<th>사용 내역</th>
						<th>사용 일자</th>
						<th>사용 포인트</th>
						<th>잔여 포인트</th>
					</tr>
				</thead>
				<tbody>
					<tr id="csInfoList" th:each="cpi:${cspilist}">
						<td th:text="${cpi.consumeInfo}"></td>
						<td th:text="${#dates.format(cpi.consumeDate, 'yyyy-MM-dd')}"></td>
						<td th:text="${cpi.consumingPoint + ' 포인트'}"></td>
						<td th:text="${cpi.remainingPoint + ' 포인트'}"></td>
					</tr>
				</tbody>
				</table>
				<div class="cs-paging-div">
					<!--/* Bootstrap pager */-->
					<ul id="csPagingPager" class="pager">
						<li class="previous">
							<a href="#">Previous</a>
						</li>
						<li class="cs-pageNo" th:each="num:${#numbers.sequence(1, tot_page_cspi)}" th:if="${num != 0}">
							<a th:text="${num}"></a>
						</li>
						<li class="next">
							<a href="#">Next</a>
						</li>
					</ul>
				</div>
			</div>
			
			<div class="mypoint-description">
				<h3>내 포인트 조회 안내</h3>
				<p>여기에 마이포인트에 대한 설명이나 안내를 작성하세요.</p>
			</div>
		</div>
	</body>
</html>
