<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{common/layout/mypageLayout}">
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" type="text/css" href="/metahaus/css/point/point.css" />

<title>내 포인트 조회</title>
<style>
</style>
</head>
<body>
	<div class="mypoint-section" layout:fragment="content">
		<h3>내 포인트</h3>
		<div class="mypoint-info">
			<div class="mypoint-label-div">
				<span class="mypoint-label">보유 포인트</span> <span class="mypoint-count" th:text="${session.loginUser?.point}"></span> 
			</div>
			<div class="mypoint-label-div">
				<span class="mypoint-label">충전 포인트</span> <span class="mypoint-count" th:text="${tcgp}"></span>
			</div>
			<div class="mypoint-label-div">
				<span class="mypoint-label">사용 포인트</span> <span class="mypoint-count" th:text="${tcsp}"></span>
			</div>
		</div>
		<div class="mypoint-button-div">
			<button class="button--small" onclick="location.href='/metahaus/point/charge'">충전하기</button>
		</div>

		<div class="mypoint-history">
			<h3>충전 내역 조회</h3>
			<table>
				<tr>
					<th>충전 수단</th>
					<th>충전 일시</th>
					<th>충전 포인트</th>
					<th>잔여 포인트</th>
				</tr>
				<tr th:each="cpi:${cgpilist}">
					<td th:text="metapoint"></td>
					<td th:text="${#dates.format(cpi.chargeDate, 'yyyy-MM-dd')}"></td>
					<td th:text="${cpi.chargingPoint + ' 포인트'}"></td>
					<td th:text="${cpi.remainingPoint + ' 포인트'}"></td>
				</tr>
			</table>
		</div>
		
		<div class="mypoint-history">
			<h3>사용 내역 조회</h3>
			<table>
				<tr>
					<th>사용 내역</th>
					<th>사용 일자</th>
					<th>사용 포인트</th>
					<th>잔여 포인트</th>
				</tr>
				<tr th:each="cpi:${cspilist}">
					<td th:text="${cpi.consumeInfo}"></td>
					<td th:text="${#dates.format(cpi.consumeDate, 'yyyy-MM-dd')}"></td>
					<td th:text="${cpi.consumingPoint + ' 포인트'}"></td>
					<td th:text="${cpi.remainingPoint + ' 포인트'}"></td>
				</tr>
				<!-- 추가적인 내역을 여기에 추가할 수 있습니다 HH:mm:ss -->
			</table>
		</div>

		<div class="mypoint-description">
			<h3>내 포인트 조회 안내</h3>
			<p>여기에 마이포인트에 대한 설명이나 안내를 작성하세요.</p>
		</div>
	</div>
</body>
</html>
